body {
  font-family: 'Montserrat', sans-serif;
  color: #494949;
  background-color: #eaeaea; }

.wrapper {
  max-width: 1170px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  position: relative; }

.header {
  height: 125px; }

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 35px;
  padding-bottom: 40px; }

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none; }
  .menu_item {
    padding-left: 22px;
    margin-left: 22px;
    text-transform: uppercase;
    font-size: 17px;
    font-weight: bold;
    position: relative; }
  .menu ::before {
    content: '';
    background-color: #494949;
    display: block;
    height: 100%;
    width: 2px;
    left: 0;
    position: absolute; }
  .menu :first-child::before {
    display: none; }
  .menu_link {
    text-decoration: none;
    color: #494949; }

.hat {
  background-image: url(../images/banner.jpg);
  background-size: cover;
  background-position: center center;
  width: 100%;
  background-repeat: no-repeat; }

.banner {
  padding-top: 260px;
  padding-bottom: 280px; }
  .banner-title-1 {
    font-size: 50px;
    font-weight: 400;
    color: #fff; }
  .banner-p {
    font-size: 25px;
    font-weight: 400;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    width: 560px;
    margin-bottom: 30px; }
  .banner-btn {
    text-decoration: none;
    font-size: 20px;
    font-weight: 700;
    display: block;
    max-width: 190px;
    text-align: center;
    border: 2px solid #fff;
    color: #fff;
    text-transform: uppercase;
    padding: 16px 0; }
  .banner .banner-btn:hover {
    border: 2px solid #959595;
    color: #494949; }

.img-banner {
  position: absolute;
  right: 0;
  top: 65px; }

.page {
  margin: 0 auto;
  padding-top: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.progress-title-2 {
  font-size: 45px;
  font-weight: 700;
  text-align: center;
  margin: 20px 0;
  position: relative;
  padding-left: 127px;
  padding-right: 127px; }
  .progress-title-2::before, .progress-title-2::after {
    content: '';
    display: inline-block;
    background-image: url(../images/shape-2.svg);
    width: 102px;
    height: 28px;
    margin: 0 20px; }
.progress-p {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 400;
  color: #959595;
  margin: 0;
  text-align: center; }
.progress-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style-type: none;
  padding-left: 0;
  margin-top: 34px; }
.progress-row {
  margin-right: 15px;
  margin-left: 15px;
  padding-left: 20px;
  padding-right: 20px;
  position: relative; }
  .progress-row::before {
    content: '';
    display: inline-block;
    background-color: #494949;
    width: 2px;
    height: 100%;
    position: absolute;
    left: 0; }
  .progress-row:first-child::before {
    display: none; }
.progress-link {
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  color: #494949;
  padding-bottom: 17px; }
  .progress-link:hover {
    border-bottom: 4px solid #ed252d;
    position: relative; }
    .progress-link:hover::before {
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      margin: 0 auto;
      display: block;
      width: 0;
      height: 0;
      border: 7px solid transparent;
      border-bottom: 7px solid #ed252d; }

.progress-bar {
  background-color: #ffffff;
  -webkit-box-shadow: 0px 0px 15px 0px #b8b4b8;
          box-shadow: 0px 0px 15px 0px #b8b4b8;
  display: grid;
  grid-template: 1fr/1fr 1fr 1fr;
  grid-gap: 15px;
  margin-top: 43px;
  margin-bottom: 68px; }
  .progress-bar-item {
    padding: 40px 40px; }
    .progress-bar-item:first-of-type .progress-bar-text::after {
      display: none; }
  .progress-bar-numb {
    font-size: 120px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    margin-right: 20px; }
  .progress-bar-title {
    font-size: 45px;
    font-weight: bold;
    text-transform: uppercase; }
  .progress-bar-text {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5em;
    position: relative; }
    .progress-bar-text::after {
      content: '';
      display: inline-block;
      background-color: #e9e9e9;
      width: 2px;
      height: 140px;
      position: absolute;
      left: -45px;
      top: -69px; }
  .progress-bar-btn {
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 30px;
    font-weight: bold;
    padding-top: 55px;
    color: #eaeaea;
    margin-top: 68px;
    display: block;
    margin: 0 auto;
    background-image: url(../images/btn.png);
    background-position: center center;
    background-repeat: no-repeat;
    width: 469px;
    height: 93px; }

.footer {
  background-image: url(../images/footer-bg.jpg);
  height: 107px;
  margin-top: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .footer-p {
    margin: 0 auto;
    color: #e9e9e9;
    font-size: 20px;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    padding-top: 45px; }

/*# sourceMappingURL=style.css.map */