@font-face {
    font-family: 'PlayfairDisplay Bold';
    src: url('../fonts/static/PlayfairDisplay-Bold.ttf')
}
@font-face {
    font-family: 'PlayfairDisplay BoldItalic';
    src: url('../fonts/static/PlayfairDisplay-BoldItalic.ttf')
}
@font-face {
    font-family: 'PlayfairDisplay Regular';
    src: url('../fonts/static/PlayfairDisplay-Regular.ttf')
}
@font-face {
    font-family: 'PlayfairDisplay Italic';
    src: url('../fonts/static/PlayfairDisplay-Italic.ttf')
}