body{
    font-family: 'Ubuntu', sans-serif;
    }
header{
    height: 120px;
    padding: 0px;
    }
header img{
    display: inline-block;
    margin-top: 60px;
} 
header ul{
    display: flex;
    justify-content: flex-end;
}   
header ul li{
    list-style-type: none;
    display: inline-block;
    margin: 60px 0 0 50px;
    font-size: 14px;
    text-transform: uppercase;
}
header ul li a{
    text-decoration: none;
    color: #626262;
}  
header ul li a:hover{
    color: #2b2a2a;
    text-decoration: underline;
}
.img-post{
    width: 100%;
/************************
******content************
***********************/
}
section.content{
    margin-top: 100px;
    padding-left: 70px;
}
.category{
    color: #626262;
    text-transform: uppercase;
    font-size: 14px;
}
h2{
    font-size: 30px;
    color: #626262;
}
p{
    font-size: 14px;
    color: #626262;
    line-height: 23px;
    padding-bottom: 30px;
}
a.comment{
 text-decoration: none;
 color: #626262;
 font-size: 14px;
 text-transform: uppercase;
}
/************************
******content-1************
***********************/

.content-1{
    margin-top: 140px;
    padding-left: 70px;
}
.content-1 img{
    width: 100%;
    margin-bottom: 30px;
}
.content-1 span{
    padding-top: 30px;
}

/************************
******newsletter************
***********************/
.newsletter{
    height: 280px;
    background: #f0f0f0;
}
h3{
    padding-top: 70px;
    font-size: 30px;
    color: #626262;
    text-align: center;
}
form.sing{
    margin: 0 auto;
    width: 380px;
    border-bottom: 1px solid #000;
    padding: 12px;
}
form.sing input{
    display: inline-block;
    border: none;
    background: #f0f0f0;
}
form button{
    border: none;
    float: right;
}
/************************
******content-2************
***********************/
.content-2{
    margin-top: 140px;
    padding-left: 70px;
}
.content-2 img{
    width: 100%;
    margin-bottom: 30px;
}
.content-2 span{
    padding-top: 30px;
}
section.content-2 div.more{
    margin-top: 150px;
    text-align: center;
}
div.more button{
    border: 1px solid #626262;
    color: #626262;
    background: none;
    font-size: 20px;
    padding: 20px;
    margin-bottom: 300px;
}    
/************************
***************footer***
********************/
footer{
    background: #f0f0f0;
    height: 150px;
}
.left{
    font-size: 18px;
    padding-left: 150px;
    padding-top: 45px;
    color: #2b2a2a;
    font-weight: bold;
}
.left a{
    text-decoration: none;
    padding-left: 10px;
    color: #2b2a2a;
    font-weight: bold;
}
.left a:hover{
    text-decoration: none;
    padding-left: 10px;
    color: #000000;
    text-decoration: underline;
}
.right{
    font-size: 18px;
    padding-right: 150px;
    padding-top: 45px;
    color: #2b2a2a;
    font-weight: bold;
    text-align: right;
}
.right a{
    text-decoration: none;
    margin-right: 30px;
    color: #2b2a2a;
    font-weight: bold;
}
.right img{
    padding-right: 10px;
}