body {
  font-family: 'Source Sans Pro', sans-serif;
  margin: 0; }
  body img {
    width: 100%; }

.wrap {
  max-width: 1920px;
  width: 100%;
  margin: 0 auto; }

.container {
  max-width: 1600px;
  width: 100%;
  margin: 0 auto; }

section {
  margin: 50px 0; }

.title-h2 {
  text-transform: uppercase;
  margin: 30px 0; }

.dotsColor {
  background-color: #a2a0a0 !important; }

.btn-scroll {
  display: none;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  background-color: #000;
  width: 40px;
  height: 40px;
  position: fixed;
  font-size: 21px;
  z-index: 999;
  bottom: 110px;
  right: 50px;
  cursor: pointer; }

.slickHeader .slick-dots {
  position: absolute;
  top: 50%;
  right: 4%;
  padding: 0;
  list-style-type: none; }
  .slickHeader .slick-dots li {
    margin: 10px 0; }
  .slickHeader .slick-dots button {
    display: block;
    width: 14px;
    height: 14px;
    padding: 0;
    border: none;
    border-radius: 100%;
    background-color: #a2a0a0;
    text-indent: -9999px;
    cursor: pointer; }
  .slickHeader .slick-dots li.slick-active button {
    background-color: #434343; }

.slider-header {
  position: relative; }
  .slider-header-content {
    position: absolute;
    z-index: 1;
    bottom: 15%;
    left: 0;
    right: 0;
    text-align: center; }
    .slider-header-content p {
      margin: 0; }
    .slider-header-content h1 {
      margin-top: 0;
      letter-spacing: 8px; }
    .slider-header-content a {
      display: inline-block;
      color: #fff;
      background-color: #000;
      text-decoration: none;
      padding: 15px 40px;
      margin-top: 15px;
      font-size: 20px;
      font-weight: 400;
      letter-spacing: 3px;
      transition: 0.3s;
      -webkit-box-shadow: 4px 16px 24px -4px rgba(0, 0, 0, 0.42);
      box-shadow: 4px 16px 24px -4px rgba(0, 0, 0, 0.42); }
      .slider-header-content a:hover {
        background-color: #434343; }

.btn-burger {
  position: absolute;
  right: 4%;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  cursor: pointer; }

.btn-burger {
  display: none; }

.btn-burger span {
  background: #434343;
  height: 1px;
  width: 18px;
  display: block;
  margin-bottom: 5px; }

.btn-burger.active {
  position: absolute;
  z-index: 20;
  right: 5%;
  top: 50px; }

.btn-burger.active span:first-of-type {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg); }

.btn-burger.active span:nth-of-type(2) {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  margin-top: -5px; }

.btn-burger.active span:last-of-type {
  display: none; }

.btn-burger.active span {
  background: #434343; }

header {
  position: relative; }

.top-header {
  position: absolute;
  top: 5%;
  z-index: 1;
  display: flex;
  justify-content: space-between; }

.logo {
  margin-left: 60px;
  text-align: center; }
  .logo a {
    color: #000;
    text-decoration: none;
    font-size: 40px;
    font-weight: 600;
    letter-spacing: 10px; }
    .logo a:hover {
      color: #434343; }
  .logo p {
    margin: 0;
    font-size: 10px;
    text-align: center;
    letter-spacing: 4px; }

.menu {
  position: relative;
  padding: 0;
  margin: 0;
  margin-top: 25px;
  display: flex; }
  .menu-list {
    display: block;
    margin: 0 10px; }
  .menu-link {
    position: relative;
    text-decoration: none;
    font-size: 22px;
    padding: 0 10px;
    color: #000;
    display: inline-block; }
    .menu-link::before {
      position: absolute;
      content: '';
      top: 50%;
      left: 0;
      width: 100%;
      height: 1px;
      background-color: #434343;
      transform: translateY(-50%) scaleX(0);
      transform-origin: right;
      transition: 0.5s transform; }
    .menu-link:hover::before {
      transform: translateY(-50%) scaleX(1);
      transform-origin: left;
      transition: 0.5s transform; }

.header-mobile {
  opacity: 0.9;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  display: none; }
  .header-mobile-wrap {
    background-color: #fff;
    padding: 25px;
    position: relative; }

.header-mobile.active {
  display: flex;
  overflow-y: scroll;
  align-items: center;
  justify-content: center;
  position: fixed;
  margin: 20px 0; }

.header-mob-nav .logo {
  margin: 0; }
.header-mob-nav .menu {
  display: block; }

.menu-mobile {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: auto;
  transition: 0.5s; }
  .menu-mobile .menu-list {
    position: relative;
    text-align: center;
    padding: 10px 70px;
    margin: 0; }

.news-content {
  display: grid;
  grid-gap: 20px;
  column-gap: 10px;
  row-gap: 10px; }
  .news-content-card {
    position: relative;
    text-decoration: none; }
    .news-content-card-desc {
      position: absolute;
      bottom: 0;
      background-color: #fff;
      color: #000;
      padding: 20px; }
      .news-content-card-desc h3 {
        letter-spacing: 5px;
        margin: 0; }
      .news-content-card-desc p {
        font-size: 13px;
        margin: 0;
        letter-spacing: 2px; }
    .news-content-card:hover .news-content-card-desc {
      -webkit-box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.1);
      box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.1); }
  .news-content-card-01 {
    grid-column: 1/3;
    grid-row: 1/3; }
  .news-content-card-02 {
    grid-column: 3/4;
    grid-row: 1/3; }
  .news-content-card-03 {
    grid-column: 4/5;
    grid-row: 1/2; }
  .news-content-card-04 {
    grid-column: 4/5;
    grid-row: 2/3; }

.products {
  display: flex;
  justify-content: space-between; }
  .products-card {
    position: relative;
    margin-left: 10px; }
    .products-card img:hover {
      -webkit-box-shadow: 1px 1px 13px 1px rgba(0, 0, 0, 0.37);
      box-shadow: 1px 1px 13px 1px rgba(0, 0, 0, 0.37); }
  .products-size {
    position: absolute;
    bottom: 20%;
    margin: 0 auto;
    width: 100%;
    display: none;
    transition: 0.3s; }
    .products-size ul {
      list-style-type: none;
      display: flex;
      justify-content: center;
      padding: 0; }
    .products-size li {
      font-size: 15px;
      border: 1px solid #000;
      padding: 10px;
      margin: 0 10px;
      cursor: pointer; }
      .products-size li:hover {
        background-color: #434343;
        color: #fff; }
    .products-size a {
      color: #000;
      text-decoration: none; }
    .products-size li:hover a {
      color: #fff; }
  .products-desc {
    letter-spacing: 3px; }
    .products-desc a {
      text-decoration: none;
      color: #000; }
    .products-desc h4 {
      margin-bottom: 0; }
    .products-desc p {
      margin: 0;
      color: #a2a0a0;
      font-size: 13px; }
    .products-desc span {
      letter-spacing: 0; }

#banner-brand {
  margin: 50px 0;
  -webkit-box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.1);
  box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.1); }

.brands-card {
  width: 25%;
  padding: 25px 0; }
  .brands-card img {
    width: 40%;
    margin: 0 auto; }
    .brands-card img:hover {
      filter: invert(22%) sepia(6%) saturate(4%) hue-rotate(316deg) brightness(98%) contrast(83%); }

#look-week {
  margin-left: 75px;
  position: relative; }
  #look-week .slick-slide {
    display: flex !important; }
  #look-week .slick-dots {
    position: absolute;
    display: flex;
    bottom: 30%;
    right: 0;
    left: 0;
    width: 30%;
    margin: 0 auto;
    padding: 0;
    list-style-type: none; }
    #look-week .slick-dots li {
      margin: 0 10px; }
    #look-week .slick-dots button {
      width: 14px;
      height: 14px;
      padding: 0;
      border: none;
      border-radius: 100%;
      background-color: #a2a0a0;
      text-indent: -9999px;
      cursor: pointer; }
    #look-week .slick-dots li.slick-active button {
      background-color: #434343; }

.look-week-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative; }
  .look-week-content .desc {
    position: absolute;
    background-color: #fff;
    right: 0;
    left: 0;
    width: 40%;
    margin: 0 auto;
    padding: 40px; }
    .look-week-content .desc span {
      font-size: 21px; }
    .look-week-content .desc p {
      color: #a2a0a0;
      letter-spacing: 2px; }
  .look-week-content .products-card {
    width: 30%; }
  .look-week-content .model-week {
    width: 40%; }

footer {
  background-color: #E3E3E5;
  margin-top: 40px; }
  footer form {
    max-width: 500px;
    width: 100%;
    margin: 0 auto;
    padding-bottom: 50px;
    text-align: center; }
    footer form label {
      font-size: 23px;
      letter-spacing: 3px;
      display: block; }
    footer form input {
      border: 1px solid #000;
      font-size: 16px;
      max-width: 365px;
      width: 100%;
      padding: 10px;
      background: transparent; }
    footer form button {
      color: #fff;
      background-color: #000;
      padding: 11px 20px;
      font-size: 16px;
      font-weight: 400;
      letter-spacing: 3px;
      transition: 0.3s;
      border: none;
      cursor: pointer; }
      footer form button:hover {
        background-color: #434343; }
  footer .footer-nav {
    display: flex;
    justify-content: space-between;
    padding-top: 30px; }
    footer .footer-nav .menu-link {
      font-size: 18px; }

.social-icon {
  list-style-type: none;
  display: flex;
  justify-content: center;
  padding: 0; }
  .social-icon li {
    margin-right: 15px;
    border: 1px solid #000;
    border-radius: 50%;
    width: 34px;
    height: 34px;
    text-align: center;
    font-size: 17px;
    display: flex;
    justify-content: center;
    align-items: center; }
    .social-icon li:hover {
      background-color: #a2a0a0;
      transition: 2s; }
  .social-icon a {
    color: #000;
    text-decoration: none; }
    .social-icon a :hover {
      color: #fff; }

.copyright {
  background-color: #000;
  color: #fff; }
  .copyright .container {
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .copyright p {
    text-transform: uppercase;
    display: inline-block;
    font-size: 13px;
    letter-spacing: 2px; }
  .copyright .logo {
    margin: 0; }
    .copyright .logo a {
      color: #fff;
      font-size: 27px; }

.shop-product {
  display: flex;
  justify-content: space-between; }

#categories {
  width: 22%; }
  #categories h3 {
    cursor: pointer;
    margin: 0;
    letter-spacing: 2px;
    position: relative; }
  #categories span {
    display: block;
    width: 8px;
    height: 8px;
    border-radius: 100%;
    background-color: #434343; }
  #categories label {
    display: flex;
    justify-content: space-between;
    align-items: center; }

.product-container {
  width: 75%; }
  .product-container .products-card {
    width: 30%;
    display: inline-block;
    margin-bottom: 20px; }

#brands, #clothing, #bags, #accssesories, #sale {
  display: none; }

.categorie {
  overflow: hidden;
  max-height: 0;
  margin: 10px 0;
  padding-left: 15px;
  -webkit-transition: all 0.3s ease;
  list-style-type: none; }
  .categorie-list {
    margin: 10px 0;
    letter-spacing: 2px; }
  .categorie-link {
    text-decoration: none;
    color: #000; }
    .categorie-link:hover {
      color: #a2a0a0; }

#brands:checked + .categorie,
#clothing:checked + .categorie,
#bags:checked + .categorie,
#accssesories:checked + .categorie {
  max-height: 100px; }

.collection {
  display: flex;
  justify-content: space-between; }
  .collection-block {
    width: 30%;
    position: relative; }
    .collection-block-link {
      position: relative;
      text-decoration: none; }
      .collection-block-link:hover .collection-block-title {
        -webkit-box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.1);
        box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.1); }
    .collection-block-title {
      position: absolute;
      bottom: 0;
      background-color: #fff;
      color: #000;
      padding: 20px; }
      .collection-block-title h3 {
        letter-spacing: 5px;
        margin: 0; }
    .collection-block p {
      letter-spacing: 1px;
      text-align: justify;
      font-size: 18px; }

.about-content {
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .about-content-text {
    width: 48%;
    position: relative;
    text-align: justify;
    font-size: 18px;
    line-height: 30px;
    color: #434343;
    margin: 0; }
    .about-content-text::before {
      content: '';
      background-image: url("../img/icons/quote.svg");
      position: absolute;
      width: 37px;
      height: 37px; }
    .about-content-text span {
      float: right;
      padding-top: 25px;
      color: #a2a0a0; }
  .about-content-img {
    width: 48%; }

.our-team {
  display: flex;
  align-items: center;
  justify-content: space-between; }
  .our-team-img {
    width: 48%; }
  .our-team-text {
    width: 48%;
    position: relative;
    font-size: 18px;
    line-height: 30px;
    color: #434343;
    margin: 0; }
    .our-team-text::before {
      content: '';
      background-image: url("../img/icons/quote.svg");
      position: absolute;
      width: 37px;
      height: 37px; }
    .our-team-text span {
      float: right;
      padding-top: 25px;
      color: #a2a0a0; }

.our-progress {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 75%;
  margin: 0 auto;
  padding: 50px 0; }
  .our-progress-card {
    text-align: center; }
    .our-progress-card-01 {
      background-image: url("../img/icons/heart.png"); }
    .our-progress-card-02 {
      background-image: url("../img/icons/bag.png"); }
    .our-progress-card-03 {
      background-image: url("../img/icons/awards.png"); }
    .our-progress-card-01, .our-progress-card-02, .our-progress-card-03 {
      background-repeat: no-repeat;
      background-position: center;
      padding: 20px;
      width: 28px;
      height: 25px;
      background-color: #434343;
      border-radius: 50%;
      margin: auto; }
    .our-progress-card span {
      font-size: 20px;
      font-weight: 600; }
    .our-progress-card-text {
      font-size: 20px;
      letter-spacing: 2px;
      margin: 10px 0; }

.contact {
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .contact-text {
    width: 48%;
    text-align: justify;
    padding: 45px; }
    .contact-text p {
      font-size: 20px;
      letter-spacing: 2px; }
    .contact-text a {
      text-decoration: none;
      font-size: 18px;
      color: #000;
      font-weight: bold; }
      .contact-text a:hover {
        color: #a2a0a0; }
  .contact-form {
    width: 48%; }
    .contact-form input, .contact-form textarea {
      border: 1px solid #000;
      font-size: 16px;
      max-width: 400px;
      width: 100%;
      padding: 10px;
      background: transparent;
      margin: 10px 0;
      letter-spacing: 2px; }
    .contact-form button {
      color: #fff;
      background-color: #000;
      padding: 11px 20px;
      font-size: 16px;
      font-weight: 400;
      letter-spacing: 3px;
      transition: 0.3s;
      border: none;
      cursor: pointer; }
      .contact-form button:hover {
        background-color: #434343; }

#pagination {
  width: 70%;
  margin: 0 auto; }

.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  list-style-type: none; }
  .pagination-item {
    font-size: 20px;
    margin: 0 10px; }
    .pagination-item:nth-child(1) {
      border: 1px solid #434343;
      display: flex;
      align-items: center;
      width: 30px;
      height: 30px;
      font-size: 13px;
      transition: 0.3s; }
      .pagination-item:nth-child(1):hover {
        background-color: #434343; }
      .pagination-item:nth-child(1):hover a {
        color: #fff; }
      .pagination-item:nth-child(1) a {
        color: #434343;
        margin: 0 auto; }
    .pagination-item:last-child {
      border: 1px solid #434343;
      display: flex;
      align-items: center;
      width: 30px;
      height: 30px;
      font-size: 13px;
      transition: 0.3s; }
      .pagination-item:last-child:hover {
        background-color: #434343; }
      .pagination-item:last-child:hover a {
        color: #fff; }
      .pagination-item:last-child a {
        color: #434343;
        margin: 0 auto; }
  .pagination-link {
    text-decoration: none;
    color: #434343; }

@media screen and (max-width: 1600px) {
  .container {
    width: 90%; } }
@media (max-width: 1024px) {
  nav#menu {
    display: none; }

  .footer-nav {
    justify-content: center !important; }

  .btn-burger {
    display: block; }

  .news-content-card-desc {
    padding: 10px; }
    .news-content-card-desc h3 {
      letter-spacing: 4px; }

  .products-size li {
    padding: 8px;
    margin: 0 5px; } }
@media (max-width: 768px) {
  .news-content-card-01 {
    grid-column: 1/3;
    grid-row: 1/2; }
  .news-content-card-02 {
    grid-column: 1/2;
    grid-row: 2/4; }
  .news-content-card-03 {
    grid-column: 2/3;
    grid-row: 2/3; }
  .news-content-card-04 {
    grid-column: 2/3;
    grid-row: 3/4; }

  .look-week-content .desc {
    padding: 20px; }
    .look-week-content .desc p {
      letter-spacing: 0px; }

  .collection-block {
    width: 32%; }

  .our-progress {
    width: 100%; }

  .contact-form input, .contact-form textarea {
    max-width: 270px; } }
@media (max-width: 680px) {
  h1 {
    font-size: 20px;
    padding: 0 20px; }

  .logo {
    margin-left: 20px; }
    .logo a {
      font-size: 30px; }

  .slider-header-content {
    bottom: 11%; }
    .slider-header-content a {
      padding: 3px 17px;
      margin-top: 0;
      font-size: 15px; }

  .slickHeader .slick-dots li {
    margin: 4px 0; }
  .slickHeader .slick-dots button {
    width: 11px;
    height: 11px; }

  #look-week {
    margin-left: 33px; }
    #look-week .slick-dots {
      left: 70%; }

  .look-week-content .model-week {
    display: none; }
  .look-week-content .products-card {
    width: 60%; }
  .look-week-content .desc {
    left: 40%;
    width: 40%; }

  footer form input {
    max-width: 200px; }

  .copyright .container {
    display: block; }
    .copyright .container p {
      text-align: center; }

  .shop-product {
    display: block; }

  aside#categories {
    width: 95%;
    margin-bottom: 30px; }

  .product-container {
    width: 100%; }
    .product-container .products-card {
      width: 48%;
      margin-left: 0; }

  .collection {
    display: block; }
    .collection-block {
      width: 100%; }

  .about-content, .our-team {
    display: block; }
    .about-content-text, .our-team-text {
      width: 100%; }
    .about-content-img, .our-team-img {
      width: 100%; }

  .contact {
    display: block; }
    .contact-text {
      width: 100%;
      padding: 0; }
    .contact-form {
      width: 100%; } }
@media (max-width: 376px) {
  .logo a {
    font-size: 20px; }
  .logo p {
    font-size: 5px; }

  .slider-header-content h1 {
    letter-spacing: 4px;
    font-size: 16px; }
  .slider-header-content p {
    font-size: 12px; }

  .menu-mobile .menu-list {
    padding: 5px 30px; }

  .look-week-content .products-card {
    width: 60%; }
  .look-week-content .desc {
    left: 25%;
    width: 65%;
    padding: 10px; } }

/*# sourceMappingURL=style.css.map */
