$dark: #1b1b1b;
$light: #707070;
$color-des-body: #ffe500;
body {
	font-family: 'Raleway', sans-serif;
	color: $light;
}

.js-btn-nav {
	display: none;
}

.scroll-back {
	display: none;
	bottom: 10px;
	position: fixed;
	right: 30px;
	color: $color-des-body;
	background-color: #1b1b1b;
	border-radius: 20px;
	width: 30px;
	height: 30px;
	text-align: center;
	padding-top: 3px;
	cursor: pointer;
	z-index: 1;
}

.scroll-back i:hover {
	font-size: 25px;
}

.button-styled {
	text-transform: uppercase;
	color: $dark;
	font-size: 10px;
	font-weight: 700;
	background-color: $color-des-body;
	border: none;
	padding: 15px 35px;
}

.button-styled:hover {
	-webkit-box-shadow: 2px 2px 38px 1px rgba(255, 229, 0, 0.27);
	-moz-box-shadow: 2px 2px 38px 1px rgba(255, 229, 0, 0.27);
	box-shadow: 2px 2px 38px 1px rgba(255, 229, 0, 0.27);
}

section {
	padding-top: 85px;
}

.title-2 {
	text-transform: uppercase;
	letter-spacing: 10px;
	font-size: 20px;
	font-weight: 400;
}

.title-3 {
	text-transform: uppercase;
	letter-spacing: 10px;
	font-size: 15px;
	font-weight: 500;
}

.title-4 {
	padding-top: 30px;
	font-size: 15px;
	font-weight: 400;
	font-weight: 700;
}

.title-5 {
	font-size: 15px;
	font-weight: 400;
}

.text {
	font-size: 15px;
	font-weight: 400;
	line-height: 2em;
	color: #707070;
}

.text-p {
	font-size: 13px;
	font-weight: 400;
	color: $light;
	line-height: 1.5em;
}

// ***********************
// **********header*******
// ***********************
header {
	background-image: url(../image/bg-header.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	height: 800px;
}

.nav {
	&-item {
		text-transform: uppercase;
		font-size: 20px;
	}
	&-link {
		color: #fff;
	}
	 :hover {
		color: $color-des-body;
	}
}

.header-item {
	margin-top: 260px;
	&-text {
		text-transform: uppercase;
		letter-spacing: 10px;
		color: #fff;
		font-size: 23px;
	}
	&-p {
		letter-spacing: 5px;
		color: #fff;
		font-size: 13px;
	}
}

.header-scroll {
	margin-top: 230px;
	&-link:hover {
		color: $color-des-body !important;
	}
}
 .search input {
	width: 40px;
	box-sizing: border-box;
	border: 2px solid #ccc;
	border-radius: 4px;
	font-size: 16px;
	background-color: transparent;
	background-image: url(../image/icon/search_white.png);
	background-size: 30px;
    background-repeat: no-repeat;
	background-position: right;
	padding: 0 20px 12px 40px;
	-webkit-transition: width 0.4s ease-in-out;
	transition: width 0.4s ease-in-out;
  }
  
  .search input:focus {
	width: 200px;
	border-color:#ffe500;
	background-image: url(../image/icon/search_yellow.png);
  }

// ************************
// ****section-mountains***
// ************************
.section-mountains {
	padding: 160px 0;
}

// ***************************
// ****section-our-services***
// ***************************
.section-our-services {
	background-color: #f4f4f4;
}

.services-card:hover {
	-webkit-box-shadow: -1px -1px 29px 6px rgba(0, 0, 0, 0.16);
	-moz-box-shadow: -1px -1px 29px 6px rgba(0, 0, 0, 0.16);
	box-shadow: -1px -1px 29px 6px rgba(0, 0, 0, 0.16);
}

.progress-card .progress {
	height: 5px !important;
}

// ***********************
// ****section-work*******
// ***********************
.section-work {
	background-color: $dark;
	color: $dark;
}

// ***********************
// ****section-portfolio**
// ***********************
.portfolio-line {
	position: relative;
}

.portfolio-line::before {
	content: '';
	position: absolute;
	left: 60px;
	top: 20px;
	width: 360px;
	height: 1px;
	background-color: $dark;
}

.portfolio-line::after {
	content: '';
	position: absolute;
	left: 60px;
	bottom: 0;
	width: 360px;
	height: 1px;
	background-color: $dark;
}

.portfolio-skills img {
	width: 320px;
}

.portfolio-skills {
	&-1,
	&-2,
	&-3,
	&-4,
	&-5,
	&-6 {
		padding-bottom: 15%;
		background-repeat: no-repeat;
		background-size: 100%;
	}
	&-1 {
		background-image: url(../image/our-skills-01.jpg);
	}
	&-2 {
		background-image: url(../image/our-skills-05.jpg);
	}
	&-3 {
		background-image: url(../image/our-skills-02.jpg);
	}
	&-4 {
		background-image: url(../image/our-skills-04.jpg);
	}
	&-5 {
		background-image: url(../image/our-skills-06.jpg);
	}
	&-6 {
		background-image: url(../image/our-skills-03.jpg);
	}
}

.portfolio-skills-text {
	display: none;
	border: 5px solid $color-des-body;
	background-color: #fff;
	opacity: 0.7;
	position: absolute;
	margin: auto;
	top: 20px;
	left: 20px;
	bottom: 20px;
	right: 20px;
}

.portfolio-skills-text p {
	font-size: 14px;
}

// ***********************
// ****section-city*******
// ***********************
.section-city {
	margin-top: 190px;
	background-image: url(../image/city.jpg);
	background-size: cover;
	&-video {
		margin-bottom: 170px;
	}
	&-video a {
		color: $color-des-body;
		text-transform: uppercase;
		letter-spacing: 10px;
		font-size: 20px;
		font-weight: 400;
		border: 3px solid $color-des-body;
		padding: 20px;
		width: 100%;
		&:hover {
			color: $color-des-body;
			-webkit-box-shadow: 2px 2px 38px 1px rgba(255, 229, 0, 0.27);
			-moz-box-shadow: 2px 2px 38px 1px rgba(255, 229, 0, 0.27);
			box-shadow: 2px 2px 38px 1px rgba(255, 229, 0, 0.27);
		}
	}
}

// **********************
// ****section-team*******
// ***********************
.section-team-card h5 {
	opacity: 0.6;
	background-color: $color-des-body;
	padding: 20px;
	position: relative;
	top: -64px;
	font-weight: 400;
}

.card-text {
	position: relative;
	top: -30px;
}

// **********************
// ****section-about-us***
// ***********************
.section-about-us {
	background-image: linear-gradient( to top, #fff, #fff 35%, rgba(255, 229, 0, 1) 35%, rgba(255, 229, 0, 1) 65%, #fff 45%);
}

.team-title {
	background-color: $dark;
	height: 100%;
}

.our-team {
	margin: 85px 0;
}

.team-text {
	font-size: 12px;
	font-weight: 400;
	color: $light;
}

.block-content {
	margin-top: 85px;
}

.img-computer {
	position: relative;
	top: -110px;
}

// **********************
// ****footer************
// ***********************
.footer {
	background-color: $dark;
	font-family: 'Raleway', sans-serif;
}

.footer-left {
	&-text {
		font-size: 12px;
		font-weight: 400;
		p:first-child {
			padding-right: 30px;
		}
		span {
			color: $color-des-body;
		}
	}
}

.footer-center {
	&-list {
		list-style-type: none;
		padding: 0;
	}
	&-item {
		font-size: 12px;
		font-weight: 400;
		line-height: 2.5em;
	}
	&-link {
		color: #fff;
		&:hover {
			color: $color-des-body;
			text-decoration: none;
		}
	}
}

.footer-right {
	&-text {
		font-size: 12px;
		font-weight: 400;
		line-height: 2.5em;
	}
	&-btn {
		color: $dark;
		font-size: 10px;
		font-weight: 700;
		background-color: $color-des-body;
		border-radius: 20px;
		border: none;
		padding: 10px;
		width: 100%;
		margin-top: 20px;
		&:hover {
			-webkit-box-shadow: 2px 2px 38px 1px rgba(255, 229, 0, 0.27);
			-moz-box-shadow: 2px 2px 38px 1px rgba(255, 229, 0, 0.27);
			box-shadow: 2px 2px 38px 1px rgba(255, 229, 0, 0.27);
		}
	}
}

.footer-icon {
	&-list {
		list-style-type: none;
		display: flex;
		margin-top: 20px;
		padding: 0;
	}
	&-item {
		background-color: #fff;
		border-radius: 50%;
		width: 35px;
		height: 35px;
		text-align: center;
		margin-right: 15px;
	}
	&-link {
		color: $dark;
		&:hover {
			color: $color-des-body;
			text-decoration: none;
		}
	}
}

@media (min-width: 360px) and (max-width: 767px) {
	.header-scroll {
		margin-top: 130px;
	}
	ul.nav {
		display: none;
	}
	.js-btn-nav {
		display: flex;
		font-size: 23px;
		color: $color-des-body;
		cursor: pointer;
	}
	.header-item {
		margin-top: 140px;
		&-text {
			font-size: 18px;
		}
		&-p {
			font-size: 9px;
			letter-spacing: 3px;
		}
	}
	.nav-item {
		font-size: 12px;
	}
	.nav {
		display: flex;
		flex-direction: column;
		width: 100%;
		text-align: center;
	}
	.section-work-card:first-child {
		padding-bottom: 0 !important;
	}
	.section-work-card {
		margin-bottom: 10px;
	}
	.logo-portfolio {
		padding-top: 20px;
	}
	.portfolio-line::before {
		width: 300px;
	}
	.portfolio-line::after {
		width: 300px;
	}
	.title-4 {
		font-size: 23px;
	}
	.portfolio-skills-text {
		top: 30px;
		left: 30px;
		bottom: 30px;
		right: 30px;
	}
	.portfolio-skills-text p {
		font-size: 18px;
	}
	.portfolio-skills {
		&-1,
		&-2,
		&-3,
		&-4,
		&-5,
		&-6 {
			padding: 200px;
			margin: 10px;
		}
	}
	.section-city {
		&-video a {
			font-size: 15px;
		}
	}
	.section-team-card {
		display: flex;
		justify-content: center;
	}
	.team-title p {
		font-size: 12px;
	}
	.img-computer {
		top: 0;
	}
	.footer-center {
		text-align: center;
	}
	.footer-icon {
		&-list {
			display: flex;
			justify-content: center;
			font-size: 10px;
		}
		&-item {
			width: 25px;
			height: 25px;
			text-align: center;
			margin-right: 15px;
		}
	}
	.footer-right {
		text-align: center;
	}
}

@media (min-width: 768px) and (max-width: 1199.98px) {
	.nav-item {
		font-size: 17px;
	}
	.header-item-text {
		font-size: 19px;
	}
	.title-3 {
		letter-spacing: 2px;
	}
	.section-work div p {
		font-size: 13px;
	}
	.portfolio-line::before {
		width: 200px;
	}
	.portfolio-line::after {
		width: 200px;
	}
	div.card {
		width: 11rem !important;
	}
	.portfolio-line span {
		padding-right: 5px !important;
	}
	.portfolio-skills {
		&-1,
		&-2,
		&-3,
		&-4,
		&-5,
		&-6 {
			padding-top: 0;
		}
	}
	.portfolio-skills-text {
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
	}
	.title-4 {
		padding-top: 0;
		font-size: 10px;
	}
	.portfolio-skills-text p {
		font-size: 8px !important;
	}
	.block-content {
		margin: auto;
		top: 40px;
		left: 0;
		bottom: 0;
		right: 0;
	}
	.card-text {
		font-size: 12px;
	}
	.team-title p {
		font-size: 12px;
	}
	.footer-center {
		&-item {
			font-size: 9px;
			font-weight: 400;
			line-height: 2.5em;
		}
	}
}

@media (min-width: 1200px) and (max-width: 1445px) {
	.portfolio-skills-text {
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
	}
	.portfolio-skills-text p {
		font-size: 10px;
	}
}