@import 'fonts.css';

$dark: #212121;
$design: #D42F3B;
$grey: #2B2B2B;
$light: #767474;

body{
    font-family: 'Roboto', sans-serif;
    color: $dark;
}
section{
    padding: 70px  0;
}
footer{
    background-color: $dark;
}

.txt-light {
    color: rgba(255,255,255,.75);
}

.txt-red {
    color: $design;
}

.hr-light{
    background-color: rgba(255,255,255,.1);
}

.title-h1{
    font-size: 60px;
    color: #fff;
}
.title-h2{
    font-size: 40px;
    padding-bottom: 42px;
    margin: 0;
}
.title-h3{
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 13px;
}

.over-title{
    font-size: 16px;
    color: $light;
    text-transform: uppercase;

}
.subtitle-h1{
    font-size: 20px;
    margin-bottom: 60px;
    color: #fff;
    
}
.subtitle-h2{
    font-size: 18px;
}

.subtitle-h3{
    font-size: 18px;

}

.btn-custom{
    color: #fff;
    font-weight: 600;
    -webkit-box-shadow: 0px 15px 30px rgba(212, 47, 59, 0.25);
    box-shadow: 0px 15px 30px rgba(212, 47, 59, 0.25);
    border-radius: 50px;
    padding: 18px 36px;
    &:hover{
        color: #fff;
        text-decoration: none;
    }
}
.btn-wider{
    padding: 18px 65px;
}
.btn-red{
    background-color: $design;
}
.arrows {
    display: inline-block;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    border: 1px solid $design;
}

.arrows:before {
    width: 100%;
    height: 100%;
    font-size: 10px;
    text-align: center;
    display: block;
    line-height: 45px;
}

.arrows:hover {
    border: 1px solid $light;
}

.prev-icon:before{
    content: url(../images/icons/arrow.png);
    transform: rotate(180deg);
}
.prev-icon:hover:before{
    content: url(../images/icons/arrow-light.png);
    transform: rotate(0deg);
}
.next-icon:before{
    content: url(../images/icons/arrow.png);
}
.next-icon:hover:before{
    content: url(../images/icons/arrow-light.png);
    transform: rotate(180deg);
}
.resize-none{
    resize: none;
}
// ***************header***************

.header-main {
     position: absolute;
     z-index: 1;
     top: 0;
     right: 0;
     left: 0;
     margin-top: 34px;
}
.logo{
    color: #fff;
   &-img{
       width: 59px;
       height: 59px;
   }
   &-title-h1{
    font-family: 'Busorama';
    font-size: 25px;
    text-align: center;
    
    margin: 0;
   }
   &-sub-title{
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 7px;
    text-align: center;
    letter-spacing: 0.04em;
    padding-left: 10px;
   }
}
.header-main-top{
    align-items: center;
}
.number{
    &-link{
        color: #fff;
        font-size: 17px;
        &:hover{
           color: #fff;
           text-decoration: none;
       }
    }
    &-color{
        color: grey;
    }
}
.register{
    &-list{
        list-style-type: none;
        align-items: center;
        margin: 0;
    }
    &-item{
        font-size: 14px;
        margin-left: 15px;
        position: relative;
    }
 
    &-link{
        color: #fff;
        &:hover{
            opacity: 0.7;
            color: #fff;
            text-decoration: none;
        }
    }
    &-line{
        &::after{
            content: '';
            background-color: #fff;
            display: block;
            height: 15px;
            width: 1px;
            left: -8px;
            top: 3px;
            position: absolute;
        }
    }
    &-icon{
        &::before{
        position: absolute;
        content: '';
        background-image: url(../images/icons/icon-main.png);
        width: 20px;
        height: 20px;
        left: -30px;
        }

    }
}
.basket{
    &-item{
        color: #fff;
        font-size: 14px;
        position: relative;
        &::before{
            position: absolute;
            content: '';
            background-image: url(../images/icons/icon-main02.png);
            width: 20px;
            height: 20px;
            left: -30px;
        }
        &:hover{
            opacity: 0.7;
            color: #fff;
            text-decoration: none;
        }
    }
}
.slider{
    position: relative;
}
.header-menu{
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    left: 0;
    margin-top: 100px;
    background-color: $grey;
    height: 66px;
    

}
.catalog-link{
    background-color: #363636;
    color: #fff;
    width: 50%;
    height: 100%;
    &:hover{
        color: #fff;
        opacity: 0.7;
        text-decoration: none;
    }
}

.header-title{
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    left: 0;
    margin-top: 290px;
    
}

// *************Our-advantages********

.desc{
    &-01, &-04, &-05{
        color: #fff;
        background-repeat: no-repeat;
        background-size: cover;
    }

    &-01{
        background-image: url(../images/bg-about01.jpg);
    }
    
    &-02{
        
    }
    &-02{
        
    }
    &-04{
        background-image: url(../images/bg-about02.jpg);
        
    }
    &-05{
        background-image: url(../images/bg-about03.jpg);
    }
    &-06{
        
    }
    
}

// *************car-brands********
.slider-card{
    box-shadow: 0px 7px 25px rgba(0, 0, 0, 0.05);
    border-radius: 5px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    
    &-inner{
        height: 65px;
    }
    &-box{
        padding: 5px;
        border-radius: 5%;
    
        & img{
            -webkit-box-shadow: 0px 16px 24px -10px rgba(0,0,0,0.28);
            -moz-box-shadow: 0px 16px 24px -10px rgba(0,0,0,0.28);
            box-shadow: 0px 16px 24px -10px rgba(0,0,0,0.28);
        }
    }
}

.control{
    margin-top: 55px;
}
.slick-slide img {
    display: inline !important;
    
}


// *************why-eva********
.why-eva-bg-img-01{
    background-image: url(../images/bg-dignity01.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.why-eva-bg-img-02{
    background-image: url(../images/bg-dignity02.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.why-eva-bg-img-03{
    background-image: url(../images/bg-dignity03.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.box{
    color: #fff;
    padding: 50px 40px;

    &-title{
        font-weight: 600;
        font-size: 22px;
    }
    &-text{
        font-size: 16px;
    }
}

.icon {
    width: 55px;
    height: 55px;
    color: black;
    background-color: $design;
    border-radius: 50%;
}

.icon:before {
    width: 100%;
    height: 100%;
    font-size: 2.0em;
    text-align: center;
    display: block;
    line-height: 55px;
}

.box-icon-1:before{
    content: url(../images/icons/icon-01.png);
}
.box-icon-2:before{
    content: url(../images/icons/icon-02.svg);
}
.box-icon-3:before{
    content: url(../images/icons/icon-03.svg);
}
.border-bg{
    border-right: 15px solid transparent;
    border-left: 15px solid transparent;
}
// *************model*******

.model{
    background-image: url(../images/bg-3d-model.jpg);
}
.mat-3d{
    z-index: 1;
    position: relative;
}
.mat-bg{
    position: absolute;
    z-index: 0;
}
.model-box{
    position: relative;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
}

.line-top-left{
    position: relative;
    &::after{
        content: '';
        background-image: url(../images/icons/top-left.png);
        width: 337px;
        height: 113px;
        position: absolute;
        top: -108px;
        left: 97px;
        z-index: 2;
    }

}
.line-bottom-left{
    position: relative;
    &::after{
        content: '';
        background-image: url(../images/icons/bottom-left.png);
        width: 343px;
        height: 168px;
        position: absolute;
        top: -163px;
        left: 162px;
        z-index: 2;
  
    }
}
.line-top-right{
    position: relative;
    &::after{
        content: '';
        background-image: url(../images/icons/top-right.png);
        width: 240px;
        height: 82px;
        position: absolute;
        top: 8px;
        right: 127px;
        z-index: 2;
        border-radius: 37px;
    }
}
.line-bottom-right{
    position: relative;
    &::after{
        content: '';
        background-image: url(../images/icons/bottom-right.png);
        width: 256px;
        height: 111px;
        position: absolute;
        top: 4px;
        right: 125px;
        z-index: 2;
        border-radius: 46px;
    }
}
.line-bottom-center{
    position: relative;
    &::after{
        content: '';
        background-image: url(../images/icons/bottom-center.png);
        width: 70px;
        height: 109px;
        position: absolute;
        top: -109px;
        right: 153px;
        z-index: 2;
        border-radius: 34px;
    }

}
// ************our-work*********


// *************color*******
.color{
    background-color: $dark;
}
.design-color{
    position: absolute;
    z-index: 0;
    top: 45px;
    left: 190px;
}
.color-mats{
    &-img{
        z-index: 1;
        position: relative;
    }
    &::before{
        content: '';
        background-image: url(../images/icons/eva-design.png);
        width: 350px;
        height: 58px;
        position: absolute;
        top: 168px;
        left: -43px;
    }
    &::after{
        content: '';
        background-image: url(../images/icons/eva-design.png);
        width: 350px;
        height: 58px;
        position: absolute;
        bottom: 210px;
        right: -260px;
    }
}

.carousel-control-prev, .carousel-control-next {
    display: none !important;
}