@import url(fonts.css);
body {
  font-family: 'Roboto', sans-serif;
  color: #212121; }

section {
  padding: 70px  0; }

footer {
  background-color: #212121; }

.txt-light {
  color: rgba(255, 255, 255, 0.75); }

.txt-red {
  color: #D42F3B; }

.hr-light {
  background-color: rgba(255, 255, 255, 0.1); }

.title-h1 {
  font-size: 60px;
  color: #fff; }

.title-h2 {
  font-size: 40px;
  padding-bottom: 42px;
  margin: 0; }

.title-h3 {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 13px; }

.over-title {
  font-size: 16px;
  color: #767474;
  text-transform: uppercase; }

.subtitle-h1 {
  font-size: 20px;
  margin-bottom: 60px;
  color: #fff; }

.subtitle-h2 {
  font-size: 18px; }

.subtitle-h3 {
  font-size: 18px; }

.btn-custom {
  color: #fff;
  font-weight: 600;
  -webkit-box-shadow: 0px 15px 30px rgba(212, 47, 59, 0.25);
  box-shadow: 0px 15px 30px rgba(212, 47, 59, 0.25);
  border-radius: 50px;
  padding: 18px 36px; }
  .btn-custom:hover {
    color: #fff;
    text-decoration: none; }

.btn-wider {
  padding: 18px 65px; }

.btn-red {
  background-color: #D42F3B; }

.arrows {
  display: inline-block;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  border: 1px solid #D42F3B; }

.arrows:before {
  width: 100%;
  height: 100%;
  font-size: 10px;
  text-align: center;
  display: block;
  line-height: 45px; }

.arrows:hover {
  border: 1px solid #767474; }

.prev-icon:before {
  content: url(../images/icons/arrow.png);
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg); }

.prev-icon:hover:before {
  content: url(../images/icons/arrow-light.png);
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg); }

.next-icon:before {
  content: url(../images/icons/arrow.png); }

.next-icon:hover:before {
  content: url(../images/icons/arrow-light.png);
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg); }

.resize-none {
  resize: none; }

.header-main {
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  left: 0;
  margin-top: 34px; }

.logo {
  color: #fff; }
  .logo-img {
    width: 59px;
    height: 59px; }
  .logo-title-h1 {
    font-family: 'Busorama';
    font-size: 25px;
    text-align: center;
    margin: 0; }
  .logo-sub-title {
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 7px;
    text-align: center;
    letter-spacing: 0.04em;
    padding-left: 10px; }

.header-main-top {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.number-link {
  color: #fff;
  font-size: 17px; }
  .number-link:hover {
    color: #fff;
    text-decoration: none; }
.number-color {
  color: grey; }

.register-list {
  list-style-type: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0; }
.register-item {
  font-size: 14px;
  margin-left: 15px;
  position: relative; }
.register-link {
  color: #fff; }
  .register-link:hover {
    opacity: 0.7;
    color: #fff;
    text-decoration: none; }
.register-line::after {
  content: '';
  background-color: #fff;
  display: block;
  height: 15px;
  width: 1px;
  left: -8px;
  top: 3px;
  position: absolute; }
.register-icon::before {
  position: absolute;
  content: '';
  background-image: url(../images/icons/icon-main.png);
  width: 20px;
  height: 20px;
  left: -30px; }

.basket-item {
  color: #fff;
  font-size: 14px;
  position: relative; }
  .basket-item::before {
    position: absolute;
    content: '';
    background-image: url(../images/icons/icon-main02.png);
    width: 20px;
    height: 20px;
    left: -30px; }
  .basket-item:hover {
    opacity: 0.7;
    color: #fff;
    text-decoration: none; }

.slider {
  position: relative; }

.header-menu {
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  left: 0;
  margin-top: 100px;
  background-color: #2B2B2B;
  height: 66px; }

.catalog-link {
  background-color: #363636;
  color: #fff;
  width: 50%;
  height: 100%; }
  .catalog-link:hover {
    color: #fff;
    opacity: 0.7;
    text-decoration: none; }

.header-title {
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  left: 0;
  margin-top: 290px; }

.desc-01, .desc-04, .desc-05 {
  color: #fff;
  background-repeat: no-repeat;
  background-size: cover; }
.desc-01 {
  background-image: url(../images/bg-about01.jpg); }
.desc-04 {
  background-image: url(../images/bg-about02.jpg); }
.desc-05 {
  background-image: url(../images/bg-about03.jpg); }

.slider-card {
  -webkit-box-shadow: 0px 7px 25px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 7px 25px rgba(0, 0, 0, 0.05);
  border-radius: 5px;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }
  .slider-card-inner {
    height: 65px; }
  .slider-card-box {
    padding: 5px;
    border-radius: 5%; }
    .slider-card-box img {
      -webkit-box-shadow: 0px 16px 24px -10px rgba(0, 0, 0, 0.28);
      box-shadow: 0px 16px 24px -10px rgba(0, 0, 0, 0.28); }

.control {
  margin-top: 55px; }

.slick-slide img {
  display: inline !important; }

.why-eva-bg-img-01 {
  background-image: url(../images/bg-dignity01.jpg);
  background-repeat: no-repeat;
  background-size: cover; }

.why-eva-bg-img-02 {
  background-image: url(../images/bg-dignity02.jpg);
  background-repeat: no-repeat;
  background-size: cover; }

.why-eva-bg-img-03 {
  background-image: url(../images/bg-dignity03.jpg);
  background-repeat: no-repeat;
  background-size: cover; }

.box {
  color: #fff;
  padding: 50px 40px; }
  .box-title {
    font-weight: 600;
    font-size: 22px; }
  .box-text {
    font-size: 16px; }

.icon {
  width: 55px;
  height: 55px;
  color: black;
  background-color: #D42F3B;
  border-radius: 50%; }

.icon:before {
  width: 100%;
  height: 100%;
  font-size: 2.0em;
  text-align: center;
  display: block;
  line-height: 55px; }

.box-icon-1:before {
  content: url(../images/icons/icon-01.png); }

.box-icon-2:before {
  content: url(../images/icons/icon-02.svg); }

.box-icon-3:before {
  content: url(../images/icons/icon-03.svg); }

.border-bg {
  border-right: 15px solid transparent;
  border-left: 15px solid transparent; }

.model {
  background-image: url(../images/bg-3d-model.jpg); }

.mat-3d {
  z-index: 1;
  position: relative; }

.mat-bg {
  position: absolute;
  z-index: 0; }

.model-box {
  position: relative;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase; }

.line-top-left {
  position: relative; }
  .line-top-left::after {
    content: '';
    background-image: url(../images/icons/top-left.png);
    width: 337px;
    height: 113px;
    position: absolute;
    top: -108px;
    left: 97px;
    z-index: 2; }

.line-bottom-left {
  position: relative; }
  .line-bottom-left::after {
    content: '';
    background-image: url(../images/icons/bottom-left.png);
    width: 343px;
    height: 168px;
    position: absolute;
    top: -163px;
    left: 162px;
    z-index: 2; }

.line-top-right {
  position: relative; }
  .line-top-right::after {
    content: '';
    background-image: url(../images/icons/top-right.png);
    width: 240px;
    height: 82px;
    position: absolute;
    top: 8px;
    right: 127px;
    z-index: 2;
    border-radius: 37px; }

.line-bottom-right {
  position: relative; }
  .line-bottom-right::after {
    content: '';
    background-image: url(../images/icons/bottom-right.png);
    width: 256px;
    height: 111px;
    position: absolute;
    top: 4px;
    right: 125px;
    z-index: 2;
    border-radius: 46px; }

.line-bottom-center {
  position: relative; }
  .line-bottom-center::after {
    content: '';
    background-image: url(../images/icons/bottom-center.png);
    width: 70px;
    height: 109px;
    position: absolute;
    top: -109px;
    right: 153px;
    z-index: 2;
    border-radius: 34px; }

.color {
  background-color: #212121; }

.carousel-control-prev, .carousel-control-next {
  display: none !important; }

/*# sourceMappingURL=style.css.map */