body {
  font-family: 'Roboto', sans-serif;
  color: #22222b; }

section {
  padding: 120px 0 120px; }

.wrapper {
  max-width: 1170px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto; }

.text-center {
  text-align: center; }

.title-h1 {
  font-size: 60px; }

.title-h2 {
  font-size: 48px;
  text-transform: capitalize; }

.title-h3 {
  font-size: 36px;
  font-weight: 400; }

.title-h4 {
  font-size: 22px;
  font-weight: 400;
  text-transform: capitalize; }

.subtitle {
  color: #7f7f82; }

.section-main {
  background-image: url(../images/BG.jpg);
  background-size: cover;
  padding: 55px 0 55px; }

header {
  display: flex;
  justify-content: space-between; }

.menu {
  list-style-type: none;
  display: flex; }
  .menu-item {
    margin-left: 15px; }
  .menu-link {
    color: #22222b;
    text-decoration: none;
    transition: 0.6s; }
    .menu-link:hover {
      border-bottom: 1px solid #22222b; }

.content-main h1 span {
  font-weight: 300; }

.content-main {
  display: flex;
  justify-content: center;
  padding-top: 360px; }

h1.title-h1::before {
  content: '';
  background-image: url(../images/design-01.svg);
  display: inline-block;
  width: 27px;
  height: 20px;
  position: relative;
  top: -42px;
  background-size: cover; }

h1.title-h1::after {
  content: '';
  position: relative;
  display: inline-block;
  background-image: url(../images/design-01.svg);
  transform: rotate(180deg);
  top: 20px;
  width: 27px;
  height: 20px;
  background-size: cover; }

.content-scroll {
  display: flex;
  justify-content: center;
  padding-top: 315px; }

.section-about-me {
  padding-top: 235px; }

.box-about {
  display: flex;
  justify-content: space-between; }

.work-place {
  width: 45%;
  display: flex;
  position: relative; }
  .work-place-back {
    position: absolute;
    z-index: -1;
    left: 0;
    top: -108px; }
  .work-place-vertical {
    font-weight: 500;
    position: relative;
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    bottom: 70px; }
    .work-place-vertical::after {
      content: '';
      background-color: #22222b;
      width: 1px;
      height: 43px;
      position: absolute;
      left: 7px;
      top: 85px; }
  .work-place-front {
    position: relative;
    left: 125px; }

.about-me {
  width: 45%;
  position: relative; }
  .about-me-desc {
    line-height: 1.5em;
    color: #7f7f82;
    margin: 0 0 35px; }

.about-me-progress-line {
  margin-top: 30px;
  background-color: #f2f2f2;
  width: 100%;
  height: 2px;
  position: relative; }
  .about-me-progress-line::before {
    content: '';
    background-image: url(../images/circle.png);
    width: 6px;
    height: 11px;
    position: absolute;
    top: -5px;
    left: -4px; }
  .about-me-progress-line::after {
    content: '';
    display: block;
    position: absolute;
    height: 2px;
    background-color: #22222b; }
.about-me-progress-text {
  font-weight: 500;
  display: flex;
  justify-content: space-between; }

.progress-photoshop::after {
  width: 100%; }

.progress-indesing::after {
  width: 65%; }

.progress-xd::after {
  width: 80%; }

.section-services {
  background-color: #faf9fe; }

.services-text {
  color: #7f7f82;
  font-size: 14px;
  line-height: 2em; }

.box-services {
  padding-top: 50px;
  display: grid;
  grid-template: 1fr 1fr/ 1fr 1fr 1fr;
  grid-gap: 2vw; }

.services-link {
  text-decoration: none;
  position: relative; }
  .services-link-text {
    display: none;
    color: #22222b;
    font-size: 14px;
    width: 70px;
    position: absolute; }
  .services-link-line {
    display: block;
    width: 30px;
    height: 1px;
    background-color: #22222b;
    position: absolute;
    top: 7px; }

.portfolio {
  padding-top: 70px;
  display: grid;
  grid-template: 1fr 1fr/1fr 1fr 1fr;
  grid-gap: 30px; }
  .portfolio-01, .portfolio-02, .portfolio-03, .portfolio-04, .portfolio-05, .portfolio-06 {
    position: relative; }
  .portfolio-01 {
    grid-column: 1/2;
    grid-row: 1/3; }
  .portfolio-02 {
    grid-column: 2/3;
    grid-row: 1/5; }
  .portfolio-03 {
    grid-column: 3/4;
    grid-row: 1/3; }
  .portfolio-04 {
    grid-column: 1/2;
    grid-row: 3/8; }
  .portfolio-05 {
    grid-column: 2/3;
    grid-row: 5/8; }
  .portfolio-06 {
    grid-column: 3/4;
    grid-row: 3/8; }

.portfolio-desc p {
  font-size: 24px; }

.portfolio-desc .text-photo {
  font-size: 14px;
  text-align: center;
  margin: 0; }

.portfolio-desc {
  display: none;
  background-color: #fff;
  position: absolute;
  width: 60%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  opacity: 0.6;
  padding: 16% 8%;
  transition: 0.6s; }
  .portfolio-desc::before {
    content: '';
    background-image: url(../images/design-01.svg);
    display: inline-block;
    width: 27px;
    height: 20px;
    position: relative;
    top: -60px;
    right: 128px; }
  .portfolio-desc::after {
    content: '';
    position: relative;
    display: inline-block;
    background-image: url(../images/design-01.svg);
    transform: rotate(180deg);
    top: 65px;
    left: 128px;
    width: 27px;
    height: 20px; }

.section-freelance-work {
  background-color: #22222b; }

.row-question {
  color: #fff; }
  .row-question-text {
    font-size: 22px; }
  .row-question-link {
    text-decoration: none;
    color: #22222b;
    background-color: #fff;
    padding: 15px 50px; }
    .row-question-link:hover {
      border: 1px solid #fff; }

.row-question h2.title-h2 {
  font-weight: 400; }

.box-testimonials {
  display: flex;
  justify-content: space-between;
  padding-top: 70px; }

.person-testimonial {
  width: 45%; }
  .person-testimonial-header {
    display: flex;
    justify-content: flex-start; }
  .person-testimonial-title {
    margin-left: 15px;
    padding-top: 15px; }
  .person-testimonial-name {
    font-size: 22px;
    font-weight: 400;
    margin: 0; }
  .person-testimonial-profesion {
    font-size: 12px;
    font-weight: 400;
    color: #7f7f82; }
  .person-testimonial-text {
    font-size: 18px;
    font-style: italic;
    color: #7f7f82;
    line-height: 1.8em;
    margin-top: 45px;
    margin-left: 20px; }
    .person-testimonial-text::before {
      content: '';
      background-image: url(../images/quote.svg);
      position: absolute;
      width: 37px;
      height: 37px; }

.section-stats {
  background-color: #faf9fe; }

.stats-row {
  display: flex;
  justify-content: space-between; }

.stat {
  display: block; }
  .stat-icon {
    background-repeat: no-repeat;
    background-position: center;
    padding: 20px;
    width: 28px;
    height: 25px;
    background-color: #22222b;
    border-radius: 50%;
    margin: auto; }
  .stat-value {
    font-size: 24px;
    font-weight: 500; }
  .stat-name {
    font-size: 16px;
    text-transform: uppercase; }
  .stat-icon-01 {
    background-image: url(../images/heart.png); }
  .stat-icon-02 {
    background-image: url(../images/bag.png); }
  .stat-icon-03 {
    background-image: url(../images/experince.png); }
  .stat-icon-04 {
    background-image: url(../images/awards.png); }

.basic-form {
  display: flex;
  flex-direction: column;
  width: 740px;
  padding-top: 50px;
  margin: 0 auto; }

.basic-form input,
textarea {
  text-align: center;
  border: none;
  padding-top: 30px;
  border-bottom: 1px solid #e1e1e1;
  line-height: 3em;
  transition: 0.6s;
  overflow: auto; }

textarea {
  resize: none;
  height: 100px; }

textarea:focus,
input:focus {
  outline: none;
  border-bottom: 1px solid #7f7f82; }

.btn-form {
  margin-top: 35px;
  color: #fff;
  background-color: #22222b;
  padding: 25px 0 25px;
  border: none;
  cursor: pointer;
  transition: 0.6s; }

.btn-form:hover {
  background-color: #7f7f82; }

footer {
  background-color: #22222b;
  height: 150px;
  color: #fff; }

.footer {
  padding-top: 55px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center; }

.footer-social-items {
  list-style-type: none;
  display: flex; }
.footer-social-item {
  font-size: 16px;
  margin-left: 15px; }
.footer-social-link {
  color: #fff; }

@media (min-width: 768px) and (max-width: 1190px) {
  .portfolio {
    display: grid;
    grid-template: 1fr 1fr 1fr/1fr 1fr;
    text-align: center; }
    .portfolio-01, .portfolio-02, .portfolio-03, .portfolio-04, .portfolio-05, .portfolio-06 {
      position: relative; }
    .portfolio-01 {
      grid-column: 1/2;
      grid-row: 1/6; }
    .portfolio-02 {
      grid-column: 2/3;
      grid-row: 1/10; }
    .portfolio-03 {
      grid-column: 1/2;
      grid-row: 16/20; }
    .portfolio-04 {
      grid-column: 1/2;
      grid-row: 8/18; }
    .portfolio-05 {
      grid-column: 2/3;
      grid-row: 16/20; }
    .portfolio-06 {
      grid-column: 2/3;
      grid-row: 10/16; } }
@media screen and (max-width: 619px) {
  .box-about {
    display: block;
    margin: 0 auto; }

  .work-place, .about-me {
    margin: 20px;
    width: 75%; }

  .work-place-front {
    left: 0; }

  .work-place-front, .work-place-back {
    width: 100%; }

  .menu {
    display: block; }

  .basic-form {
    width: 100%; }

  .title-h1 {
    font-size: 23px; }

  .box-services {
    padding-top: 50px;
    display: grid;
    grid-template: 1fr 1fr 1fr / 1fr 1fr;
    grid-gap: 8vw; }

  .box-testimonials {
    display: block; }

  .person-testimonial {
    width: 100%;
    margin-bottom: 60px; }

  section {
    padding: 50px 0 50px; }

  .footer-left {
    font-size: 10px; } }
@media (min-width: 620px) and (max-width: 1024px) {
  .box-about {
    display: block;
    margin: 0 auto; }

  .work-place, .about-me {
    margin: auto; }

  .work-place-front, .work-place-back {
    width: 100%; }

  .menu {
    display: block; }

  .basic-form {
    width: 100%; }

  .title-h1 {
    font-size: 23px; } }
@media screen and (max-width: 767.98px) {
  .portfolio {
    display: grid;
    grid-template: repeat(10 1fr) 1fr;
    text-align: center; }
    .portfolio img {
      width: 345px; }
    .portfolio-01, .portfolio-02, .portfolio-03, .portfolio-04, .portfolio-05, .portfolio-06 {
      position: relative; }
    .portfolio-01 {
      grid-column: 1/1;
      grid-row: 1/6; }
    .portfolio-02 {
      grid-column: 1/1;
      grid-row: 6/12; }
    .portfolio-03 {
      grid-column: 1/1;
      grid-row: 12/16; }
    .portfolio-04 {
      grid-column: 1/1;
      grid-row: 16/20; }
    .portfolio-05 {
      grid-column: 1/1;
      grid-row: 20/26; }
    .portfolio-06 {
      grid-column: 1/1;
      grid-row: 26/30; } }

/*# sourceMappingURL=style.css.map */
