@font-face {
    font-family: 'Gilroy-ExtraBold';
    src: url('../fonts/gilroy/Gilroy-ExtraBold.otf') format('truetype');
}
@font-face {
    font-family: 'Gilroy-Light';
    src: url('../fonts/gilroy/Gilroy-Light.otf') format('truetype');
}

$lightgrey: rgba(239, 239, 239, 0.4);
$white: #EFEFEF;
$orange: #FFBC27;
$transition--length: .8;
body{
    background: linear-gradient(112.65deg, rgba(24, 24, 24, 0.6) -2.82%, rgba(24, 24, 24, 0.4) 103%),url('../img/Rectangle\ 3.png');
    background-size: cover;
    font-family: 'Gilroy-ExtraBold';
    background-position: center;
    height: 100vh;
    margin: 0;
    color: $white;
    display: flex;
    flex-direction: column;
}
img{
    width: 100%;
}
p{
    font-size: 16px;
    font-weight: 300;
    font-family: 'Gilroy-Light';
}
.container{
    max-width: 1240px;
    margin: 0 auto;
    padding: 0 70px;
}
.inner{
    background: linear-gradient(98.56deg, rgba(51, 51, 51, 0.4) 0%, rgba(51, 51, 51, 0.65) 100%, rgba(51, 51, 51, 0.55) 100%);
    border: 0.3px solid #333333;
    box-sizing: border-box;
    box-shadow: inset 10px 10px 70px rgba(51, 51, 51, 0.15), inset -10px -10px 70px rgba(51, 51, 51, 0.15);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    border-radius: 10px;
    padding: 50px;
    margin-bottom: 20px;
}

.arrow-details{
    width: 10px;
    height: 10px;
    display: inline-block;
    background-image: url('../img/arrow-details.png');
    background-size: cover;
    margin-left: 5px;
}
.icon-phone{
    width: 18px;
    height: 17px;
    display: inline-block;
    background-image: url('../img/phone-icon.png');
    background-size: cover;
    margin-right: 5px;
}
.icon-address{
    width: 13px;
    height: 18px;
    display: inline-block;
    background-image: url('../img/address.png');
    background-size: cover;
    margin-right: 7px;
}
.icon-email{
    width: 18px;
    height: 15px;
    display: inline-block;
    background-image: url('../img/email.png');
    background-size: cover;
    margin-right: 5px;
}
.icon-facebook{
    width: 9px;
    height: 16px;
    background-image: url('../img/facebook.png');
    background-size: cover;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: inline-block;
}
.title-h1{
    font-size: 96px;
    margin-bottom: 0;
}
.subtitle-h1{
    font-weight: 800;
    font-size: 18px;
    text-transform: uppercase;
}
.title-h2{
    font-size: 36px;
    margin-bottom: 10px;
}
.subtitle-h2{
    font-weight: 800;
    font-size: 18px;
    color: $lightgrey;
    text-transform: uppercase;
}
.title{
    text-align: center;
}
.btn-org{
    display: inline-block;
    width: 149px;
    background-color: $orange;
    line-height: 45px;
    text-align: center;
    text-decoration: none;
    border-radius: 10px;
    color: #333333;
    font-size: 16px;
    margin-top: 15px;
    transition: 0.3s;
    font-family: 'Gilroy-ExtraBold';
    border: none;
    cursor: pointer;
    &:hover{
        background: #FFBC27;
        box-shadow: 0px 4px 10px rgba(51, 51, 51, 0.2), inset 0px -5px 10px rgba(255, 255, 255, 0.15);
    }
    &:active{
        background: #F1B01F;
        box-shadow: inset 0px -5px 5px rgba(51, 51, 51, 0.2);
    }
}

// ******************************
// *********** HEADER ***********
// ******************************
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;
    &-logo{
        width: 167.77px;
        height: 70px;
    }
    &-nav{
        & .nav{
            list-style-type: none;
            display: flex;
            padding: 0;
            &-list{
                font-size: 16px;
                margin: 0 25px;
                font-weight: 700;
            }
            &-link{
                color: $white;
                text-decoration: none;
                &.active{
                    color: $orange;
                }
            }
        }
    }
        & .number{
            & a{
                display: flex;
                align-items: center;    
                font-size: 16px;
                font-weight: 700;
                color: $white;
                text-decoration: none;
            }
        }
        & .language{
            &-btns{
                display: flex;
                justify-content: space-between;
                & a{
                    font-size: 16px;
                    font-weight: 700;
                    color: $lightgrey;
                    text-decoration: none;
                    padding: 0 20px;
                    position: relative;
                    &.active{
                        color: $white;
                    }
                    &:first-child{
                        &::after{
                            content: '';
                            position: absolute;
                            width: 1px;
                            height: 20px;
                            background: #EFEFEF;
                            left: 100%;
                        }
                    }
                }
        }
    }
}



.header-mobile {
	display: none;
	& .menu-icon {
		display: none;
		height: 19px;
		width: 30px;
		position: fixed;
		z-index: 2;
		right: 5%;
		top: 4%;
		cursor: pointer;
		background-image: url('../img/open.png');
		background-repeat: no-repeat;
	}
}

.nav-mobile {
    left: 0;
    top: 0;
	$width: 100vw;
	$height: 100vh;
	$font--size--calc: calc(2vw + 10px);
	$transition--easing: cubic-bezier(.77, 0, .175, 1);
	position: fixed;
	z-index: -99;
	&:before,
	&:after {
		content: "";
        position: fixed;
      
		width: $width;
		height: $height;
		z-index: -1;
		transition: transform $transition--easing $transition--length + s;
		transform: translateX(0%) translateY(-100%);
	}
	&:after {
		background: linear-gradient(98.56deg, rgba(51, 51, 51, 0.5) 0%, rgba(51, 51, 51, 0.65) 100%, rgba(51, 51, 51, 0.75) 100%);
        box-shadow: inset 10px 10px 70px rgba(51, 51, 51, 0.15), inset -10px -10px 70px rgba(51, 51, 51, 0.15);
        -webkit-backdrop-filter: blur(10px);
        backdrop-filter: blur(10px);
		transition-delay: 0s;
		opacity: 0.8;
	}
	&:before {
		transition-delay: .1s;
	}
	&-content {
		position: fixed;
		top: 40%;
		transform: translate(0%, -50%);
		width: 100%;
		text-align: center;
		font-size: $font--size--calc;
		font-weight: 200;
		cursor: pointer;
	}
	&-bottom {
		position: relative;
		transition-delay: $transition--length + s;
		display: none;
		transform: translate(0%, 100%);
		transition: opacity .2s ease, transform .3s ease;
		margin: 35px 0;
		font-size: 18px;
        font-weight: bold;
        & .language-btns{
            display: flex;
            justify-content: center;
            & a{
                font-size: 16px;
                &.active{
                    color: $white;
                    position: relative;
                }
                &:first-child{
                    &::after{
                        content: '';
                        position: absolute;
                        width: 1px;
                        height: 20px;
                        background: #EFEFEF;
                        left: 100%;
                    }
                }
            }
        }
		& a {
			display: block;
			text-decoration: none;
			color: #AEAEAE;
			margin: 5px 0;
		}
	}
	&-list-item {
		position: relative;
		display: block;
		transition-delay: $transition--length + s;
		opacity: 0;
		transform: translate(0%, 100%);
		transition: opacity .2s ease, transform .3s ease;
		margin: 35px 0;
		font-weight: 800;
        font-size: 14px;
		&:before {
			content: "";
			position: absolute;
			background: transparent;
			width: 20px;
			height: 1px;
			top: 100%;
			transform: translate(0%, 0%);
			transition: all .3s ease;
			z-index: -1;
		}
		&:hover {
			&:before {
				width: 100%;
			}
		}
	}
	&-list-link {
		text-decoration: none;
		color: #fff;
	}
}

body.nav-active {
	$menu--items--count: 4;
	& .menu-icon {
		background-image: url('../img/close.png');
		width: 23.33px;
        height: 23.5px;
	}
	& .nav-mobile {
		visibility: visible;
		z-index: 1;
		&:before,
		&:after {
			transform: translateX(0%) translateY(0%);
		}
		&:after {
			transition-delay: .1s;
		}
		&:before {
			transition-delay: 0s;
        }
        &-list{
            padding: 0;
            &-item {
                opacity: 1;
                transform: translateX(0%);
                transition: opacity .3s ease, transform .3s ease, color .3s ease;
                @for $i from 0 through $menu--items--count {
                    &:nth-child(#{$i}) {
                        transition-delay: $transition--length * $i / 8 + .5 + s;
                    }
                }
            }
            
        }
        &-bottom {
            display: block;
         }
	}
}

// ******************************
// *********** MAIN-CONTENT *****
// ******************************
.main-content{
    position: relative;
    margin: auto 0;
    &::before{
        content: '';
        position: absolute;
        background: url('../img/title-home.png');
        background-repeat: no-repeat;
        background-size: contain;
        max-width: 1128px;
        width: 100%;
        height: 440px;
        left: 0;
        top: -15%;
    }
    
    & .main-title{
        margin: 80px 0;
        text-align: center;
    }
}

footer{
    padding-bottom: 3%;
    .footer-content{
        display: flex;
        justify-content: space-between;
        & span{
            font-weight: 700;
            font-size: 64px;
            color: transparent;
            -webkit-text-stroke-width: 1px;
            -webkit-text-stroke-color: rgba(239, 239, 239, 0.8);
        }
    }
}


// ******************************
// *********** PRODUCTS *********
// ******************************
.product{
    margin-top: 50px;
    display: flex;
    align-items: center;
    &-img{
       flex: 0 0 500px;
       height: 380px;
       background-image: url('../img/products-01.png');
       background-position: center;
       border-radius: 10px;
    }
    &-desc{
       flex: 1;
        &-container{
            padding-left: 30px;
        }
        & .name{
            font-size: 18px;
            margin-bottom: 30px;
            display: block;
        }
        & span{
            font-weight: 700;
            font-size: 16px;
        }
        & p{
            font-weight: 300;
            font-family: 'Gilroy-Light';
        }
        & .property{
            display: flex;
            &>div{
               width: 50%;
            }
        }
    }
}
.product-info{
    display: flex;
    justify-content: space-between;
    & .product-card{
        display: flex;
        max-width: 330px;
        margin-top: 30px;
        position: relative;
        &::before{
            position: absolute;
            content: '';
            background: rgba(239, 239, 239, 0.5);
            border-radius: 1px;
            height: 100%;
            width: 1px;
            left: -12%;
        }
        &:first-child{
            &::before{
                content: none;
            }
        }
        &-img{
            flex: 0 0 120px;
            height: 110px;
            & img{
                object-fit: cover;
                height: 100%;
                border-radius: 10px;
            }
        }
        &-desc{
            padding-left: 10px;
            & span{
                font-weight: 700;
                font-size: 16px;
            }
            & p{
                font-weight: 300;
                font-family: 'Gilroy-Light';
                font-size: 14px;
            }
            & a{
                font-weight: 700;
                font-size: 16px;
                color: $white;
                text-decoration: none;
            }
        }
    }
}

// ******************************
// *********** ABOUT_US *********
// ******************************

.about-us{
    display: flex;
    &-left{
        width: 32%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        & .title-h2{
            margin: 0;
        }
        &-indicator{
            display: flex;
            position: relative;
            &::before{
                position: absolute;
                content: '';
                background: rgba(239, 239, 239, 0.5);
                border-radius: 1px;
                height: 100%;
                width: 1px;
                left: 45%;
                top: 0;
            }
            & .card{
                width: 50%;
                display: block;
                text-align: center;
                position: relative;
                & .number{
                    font-weight: 700;
                    font-size: 70px;
                    line-height: 45px;
                    margin-bottom: 10px;
                    display: block;
                }
                & .title{
                    display: block;
                    max-width: 90px;
                    margin: 0 auto;
                    font-weight: 300;
                    font-family: 'Gilroy-Light';
                   
                }
                &:first-child{
                    width: 40%;
                    margin-right: 10%;
                }
            }
        }
    }
    &-right{
        width: 68%;
        padding-left: 15px;
    }
}

.title-teams{
    position: relative;
    &::before{
        position: absolute;
        content: '';
        background: rgba(239, 239, 239, 0.5);
        border-radius: 1px;
        height: 1px;
        width: 100%;
        top: 0;
    }
    &::after{
        position: absolute;
        content: '';
        background: rgba(239, 239, 239, 0.5);
        border-radius: 1px;
        height: 1px;
        width: 100%;
        bottom: 0;
    }
    & .title-h2{
        padding: 10px 0;
    }
}
// ******************************
// *********** OUR TEAMS ********
// ******************************
.our-team{
    display: flex;
    align-items: center;
    margin-top: 80px;
    &-left{
        width: 65%;
        & .cards{
            display: flex;
           
            & .card{
                position: relative;
                margin: auto;
                width: 33%;
                text-align: center;
                &-img{
                    border: 0.5px solid #FFBC27;
                    box-sizing: border-box;
                    border-radius: 32px;
                    width: 75px;
                    height: 75px;
                    padding: 3px;
                    margin: 0 auto;
                }
                & .name{
                    font-weight: 800;
                    font-size: 16px;
                    margin-top: 20px;
                    display: block;

                }
                & .profession{
                    font-weight: 300;
                    font-family: 'Gilroy-Light';
                    font-size: 14px;
                    display: block;
                    margin-top: 10px;
                }
                & .social{
                    border: 0.5px solid #EFEFEF;
                    box-sizing: border-box;
                    border-radius: 10px;
                    width: 30px;
                    height: 30px;
                    display: inline-block;
                    position: relative;
                    margin-top: 15px;
                    margin-bottom: 30px;
                }
               
                &::before{
                    position: absolute;
                    content: '';
                    background: rgba(239, 239, 239, 0.5);
                    border-radius: 1px;
                    height: 110%;
                    width: 1px;
                    right: 0;
                    top: -10px;
                }
                &:last-child{
                    &::before{
                        content: none;
                    }
                }
            }
        }
    }
    &-right{
        width: 35%;
        padding-left: 20px;
        & .title-h2{
            margin: 0;
        }
        & .btn-team{
            margin-top: 30px;
            margin-bottom: 20px;
            & button{
                background-color: transparent;
                font-weight: 800;
                font-size: 16px;
                border: none;
                color: $lightgrey;
                cursor: pointer;
                transition: 0.3s;
                &:first-child{
                    margin-right: 30px;
                }
                &.active{
                    border: 1px solid rgba(239, 239, 239, 0.5);
                    box-sizing: border-box;
                    border-radius: 18px;
                    color: $white;
                    padding: 9px 11px;
                }
            }
        }
    }
}


.slick-slider-dots{
    & .slick-dots{
        padding: 0;
        display: flex;
        list-style-type: none;
        & li{
            background: rgba(239, 239, 239, 0.4);
            border-radius: 2px;
            height: 3px;
            width: 100%;
            cursor: pointer;
        }
        & .slick-active{
            width: 180px;
            height: 5px;
            background: #EFEFEF;
            border-radius: 3px;
        }
        & button{
            text-indent: -9999px;
            border: none;
            background-color: transparent;
            cursor: pointer;
            &:focus-visible{
                outline: none;
            }
        }

    }
}
// ******************************
// *********** CONTACTS *********
// ******************************

.contacts{
    margin-top: 30px;
    display: flex;
    &-left{
        width: 50%;

        & .contact-form{
            max-width: 460px;
            margin-right: 30px;
            display: flex;
            flex-direction: column;
            
            &-row{
                position: relative;
                & input:focus, textarea:focus{
                    outline: none;
                }
                & input:focus + label, textarea:focus + label{ 
                    color: $orange;
                }
                & label{
                    position: absolute;
                    top: -8px;
                    left: 20px;
                    padding: 0 10px;
                    font-size: 14px;
                    z-index: 1;
                    &::before{
                        position: absolute;
                        content: '';
                        width: 100%;
                        height: 3px;
                        top: 50%;
                        left: 0;
                        background-color: #43362f;
                        z-index: -1;
                    }
                }
            }
            & input, textarea{
                width: 100%;
                border: 1px solid #EFEFEF;
                color: $white;
                font-size: 14px;
                box-sizing: border-box;
                border-radius: 10px;
                background-color: transparent;
                padding: 15px 30px;
                margin-bottom: 20px;
                font-family: 'Gilroy-Light';
            }
            & button{
                margin: 0 auto;
                margin-top: 20px;
            }
        }


        & .accept {
            display: flex;
            & .checkbox {
                display: block;
                position: relative;
                padding-left: 28px;
                cursor: pointer;
                font-size: 16px;
                margin: 0;
                user-select: none;
                & input {
                    position: absolute;
                    opacity: 0;
                    cursor: pointer;
                    height: 0;
                    width: 0;
                    box-shadow: none;
                    text-shadow: none;
                }
                & p{
                    margin-left: 10px;
                    font-size: 14px;
                }
                & .checkmark::after {
                    top: 2px;
                    width: 3px;
                    height: 9px;
                    border: solid $orange;
                    border-width: 0 2px 2px 0;
                    -webkit-transform: rotate(45deg);
                    -ms-transform: rotate(45deg);
                    transform: rotate(45deg);
                }
            }
        }
    }
    &-right{
        width: 50%;
        display: flex;
        flex-direction: column;
        & .row{
            margin-bottom: 20px;
            &>div{
                display: flex;
            }
            & .title{
                display: inline-block;
                font-size: 18px;
                margin-bottom: 15px;
            }
            & a{
                display: flex;
                align-items: center;
                font-size: 16px;
                font-family: 'Gilroy-Light';
                color: $white;
                text-decoration: none;
                &:first-child{
                    margin-right: 30px;
                }
            }
        }
        & .map-container{
            height: 100%;
            width: 100%;
        }
        & .map{
            height: 100%;
            position: relative;
            &-content{
                border: 0;
                height: 100%;
                left: 0;
                position: absolute;
                top: 0;
                width: 100%;
                border-radius: 10px;
            }
        }
    }
}

.checkmark {
	position: absolute;
    top: 30%;
	left: 0;
	height: 20px;
    width: 20px;
    border: 1px solid #EFEFEF;
    box-sizing: border-box;
    border-radius: 5px;
    background-color: transparent;
	&::after {
		left: 7px;
		top: 4px;
		width: 5px;
		height: 8px;
		border: solid $orange;
		border-width: 0 2px 2px 0;
		transform: rotate(45deg);
		content: "";
		position: absolute;
		display: none;
	}
}

.checkbox:hover input~.checkmark::after {
	display: block;
}


// ******************************
// *********** MEDIA ************
// ******************************

 @media (max-width: 1240px) {     
    .product-info {
        & .product-card {
            max-width: 290px;
            flex-wrap: wrap;
            &::before {
                left: -20%;
            }
            &-desc {
                padding-top: 10px;
                padding-left: 0;
                & p {
                    width: 230px;
                }
            }
        }
    }
}
 

@media (max-width: 1024px) { 
    .container{
        padding: 0 30px;
    }
    p{
        font-size: 14px;
    }
    .header{
        padding: 40px 0;
        &-logo{
            width: 119.83px;
            height: 50px;
        }
        & .nav-list{
            font-size: 14px;
            margin: 0 10px;
        }
        & .number a{
            font-size: 14px;
        }
        & .language-btns a{
            font-size: 14px; 
            padding: 0 10px;   
        }
    }
    .icon-phone{
        width: 15px;
        height: 14px;
    }
    .inner{
        padding: 30px;
    }
    .product {
        margin-top: 30px;
        &-img {
            flex: 0 0 400px;
        }
        &-desc{
            & .name{
                margin-bottom: 20px;
                font-size: 16px;
            }
            & span, p {
                font-size: 14px;
                margin: 10px 0;
            }
        }
    }
    
    .title-h2{
        font-size: 26px;
    }
    .subtitle-h2{
        font-size: 16px;
    }
    .btn-org{
        font-size: 14px;
        line-height: 40px;
    }
    .about-us-left-indicator .card .number {
        font-size: 56px;
    }
    .about-us-left-indicator .card .title {
        max-width: 80px;
        font-size: 14px;
    }
 }

 @media (max-width: 991.98px) { 
    .title-h1{
        font-size: 72px;
    }
    .subtitle-h1{
        font-size: 16px;
    }
    footer .footer-content span {
        font-size: 48px;
    }
    .product-info {
        flex-direction: column;
        & .product-card {
            max-width: 100%;
            flex-wrap: nowrap;
            &::after {
                position: absolute;
                content: '';
                background: rgba(239, 239, 239, 0.5);
                border-radius: 1px;
                height: 1px;
                width: 100%;
                bottom: -15px;
            }
            &:last-child{
                &::after{
                    content: none;
                }
            }
            &-img {
                flex: 0 0 180px;
            }
            &-desc {
                padding-top: 10px;
                padding-left: 10px;
                & span{
                    font-size: 14px;
                }
                & p {
                    width: 100%;
                }
                & a{
                    font-size: 14px;
                }
            }
        }
    }
}
 @media (max-width: 768px) {     
    .product {
        &-img {
            flex: 0 0 300px;
            height: 313px;
        }
    }
    .our-team{
        &-left{
            width: 57%;
            & .cards{
                & .card{
                    & .name{
                        font-size: 14px;
                        margin-top: 10px;
                    }
                    & .profession{
                        font-size: 12px;
                    }
                    & .social{
                        margin-top: 10px;
                    }
                }
            }
        }
        &-right{
            width: 43%;
            padding-left: 15px;
            & .btn-team {
                margin-top: 20px;
                margin-bottom: 10px;
                & button{
                    font-size: 12px;
                    &:first-child{
                        margin-right: 10px;
                    }
                }
            }
        }
    }
    .contacts{
        flex-direction: column;

        & .contacts-left{
            width: 100%;

            & .contact-form{
                max-width: 100%;
                margin-right: 0;
            }
        }
        & .contacts-right{
            width: 100%;
            margin-top: 30px;

            & .row {
                & .title{
                    font-size: 16px;
                }
                & a{
                    font-size: 14px;
                }
            }

            & .map-container{
                height: 210px;
            }
        }
    }
 }

 @media (max-width: 767.98px) { 
    .header-nav, .header .language{
        display: none;
    }
    .header-mobile {
        display: block;
    }
    .header-mobile .menu-icon, .nav-mobile-bottom .language {
        display: block;
    }
    .header-contact {
        justify-content: flex-end;
        width: 65%;
    }
    .header {
        padding: 20px 0;

        .number{
            margin-left: auto;
            margin-right: 80px;
        }
    }
    .title-h1{
        font-size: 48px;
    }
    .subtitle-h1{
        font-size: 14px;
    }
    
   
   
    footer .footer-content span {
        font-size: 30px;
    }
    footer{
        .footer-content{
        flex-direction: column;
            & span{
                margin-bottom: 20px;
                &:nth-child(2){
                    text-align: center;

                }
                &:last-child{
                    text-align: end;
                }
            }
        }
    }
   
}

@media (max-width: 620px) { 
    .container{
        padding: 0 20px;
    }
    .contacts-left .contact-form-row label::before {
        top: 46%;
        background-color: #574336;
    }
    .btn-org {
        font-size: 12px;
        line-height: 35px;
    }
    .main-content::before {
        top: 20%;
    }
    .our-team-right .btn-team {
        margin-top: 10px;
    }
    p{
        font-size: 12px;
    }
    .header-contact {
        width: 55%;
    }
    .about-us-left-indicator .card .title {
        max-width: 50px;
        font-size: 12px;
    }
    .about-us-left-indicator .card .number {
        font-size: 40px;
        margin-bottom: 0;
    }
    .header{
        & .number{
            margin-left: auto;
            margin-right: 40px;
        }

        & a {
            font-size: 12px;
        } 
    } 
    .nav-mobile .nav-mobile-list-link{
        font-size: 14px;
    }
    .title-h2{
        font-size: 20px;
    }
    .subtitle-h2{
        font-size: 14px;
    }
    .product{
        flex-direction: column;
        margin-top: 20px;
        &-img{
            width: 100%;
        }
        &-desc{
            width: 100%;
            &-container{
                padding-left: 0;
            }
            & .name{
                font-size: 16px;
            }
            & span{
                font-size: 12px;
            }
            & p{
                font-size: 12px;
                margin: 5px 0;
            }
        }
    }
    .our-team{
        &-left{
            & .cards{
                & .card{
                    & .name{
                        font-size: 12px;
                    }
                }
            }
        }
    }
    .inner {
        padding: 20px;
    }  
    .product-info .product-card-img {
        flex: 0 0 80px;
        height: 80px;
    }
    .product-info{
        & .product-card{
            &-desc, & p, & a {
                font-size: 12px;
            }
            &-desc{
                padding-top: 0;
            }
            & p{
                margin: 5px 0;
            }
        }
    }
    .about-us{
        display: block;

        &-left{
            width: 100%;
            &-title{
                text-align: center;
                margin-bottom: 20px;
            }
            &-indicator{
                margin-bottom: 10px;
            }
        }
        &-right{
            width: 100%;
        }
    }
    .our-team {
        flex-direction: column-reverse;
        &-left{
            width: 100%;
        }
        &-right{
            width: 100%;
            text-align: center;
        }
    }
    .contacts{
        & .contacts-left{
            & .accept {
                & .checkbox p{
                    font-size: 10px;
                }
                & .checkmark{
                    top: 25%;
                }
            }
            & .contact-form input, .contact-form textarea{
                font-size: 12px;
            }            
            & .contact-form-row{
                & label{
                    font-size: 12px;
                    top: -7px;
                }
            }
        }
        & .contacts-right{
            margin-top: 20px;

            & .row {
                & .title{
                    font-size: 14px;
                }
                & a{
                    font-size: 12px;
                }
            }
        }
    }
   
}
@media (max-width: 370px) { 
  
    .header .number {
        display: none;
    }
}
