body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  color: #292929;
  overflow-x: hidden; }

section {
  margin: 100px 0; }

img {
  width: 100%; }

p {
  font-size: 16px; }

.container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 55px; }

.logo {
  font-family: 'Pacifico', cursive;
  display: inline-block; }
  .logo a {
    text-decoration: none;
    color: #1AA7BD;
    font-size: 30px; }

.menu-icon {
  width: 32px;
  height: 22px;
  display: inline-block;
  cursor: pointer;
  background-image: url("../img/icons/menu.png"); }

.pop-up.active {
  display: block !important; }

.alert {
  text-align: center;
  padding: 0 15px; }
  .alert span {
    display: inline-block;
    color: #fff;
    font-size: 16px;
    margin: 10px 0; }
  .alert.alert-success {
    background: #47B312; }
  .alert.alert-error {
    background: #FF4D4D; }

.icon-phone,
.icon-email {
  display: inline-block;
  width: 31px;
  height: 31px;
  margin-right: 10px; }

.icon-phone {
  background-image: url("../img/icons/clarity_phone-handset-line.png"); }

.icon-email {
  background-image: url("../img/icons/clarity_email-line.png"); }

.icon-vk,
.icon-face,
.icon-insta {
  display: block;
  width: 32px;
  height: 32px;
  background-repeat: no-repeat; }

.icon-vk {
  background-image: url("../img/icons/simple-line-icons_social-vkontakte.png"); }

.icon-face {
  background-image: url("../img/icons/et_facebook.png"); }

.icon-insta {
  background-image: url("../img/icons/openmoji_instagram.png"); }

.icon-message {
  display: block;
  width: 40px;
  height: 40px;
  background-repeat: no-repeat;
  background-image: url("../img/icons/mail 1.png");
  position: relative; }

.icon-profile {
  display: block;
  width: 50px;
  height: 50px;
  background-repeat: no-repeat;
  background-image: url("../img/icons/profile.png");
  position: relative; }
  .icon-profile .counter {
    width: 8px;
    height: 8px;
    right: 5px; }

.icon-arrow {
  display: block;
  width: 24px;
  height: 12px;
  background-repeat: no-repeat;
  background-image: url("../img/icons/arrow.png"); }

.icon-star {
  display: inline-block;
  width: 24px;
  height: 24px;
  background-image: url("../img/icons/Star-yellow.png");
  background-repeat: no-repeat; }

.icon-eye {
  position: absolute;
  display: inline-block;
  width: 25px;
  height: 25px;
  right: 2%;
  top: 15%;
  background-image: url("../img/icons/ant-design_eye-outlined.png");
  background-repeat: no-repeat;
  cursor: pointer; }

.icon-eye-show {
  position: absolute;
  display: inline-block;
  width: 25px;
  height: 25px;
  right: 2%;
  top: 15%;
  background-image: url("../img/icons/ant-design_eye-outlined-show.png");
  background-repeat: no-repeat;
  cursor: pointer; }

.icon-back {
  display: inline-block;
  width: 11px;
  height: 18px;
  background-image: url("../img/icons/icon-back.png");
  background-repeat: no-repeat;
  cursor: pointer; }

.icon-arrow-left {
  display: inline-block;
  width: 9px;
  height: 14px;
  background-image: url("../img/icons/left-arrow.png");
  background-repeat: no-repeat;
  cursor: pointer; }

.icon-arrow-right {
  display: inline-block;
  width: 9px;
  height: 14px;
  background-image: url("../img/icons/right-arrow.png");
  background-repeat: no-repeat;
  cursor: pointer; }

.icon-minus {
  display: block;
  width: 16px;
  height: 2px;
  background-image: url("../img/icons/minus.png");
  background-repeat: no-repeat;
  cursor: pointer; }

.icon-plus {
  display: block;
  width: 16px;
  height: 16px;
  background-image: url("../img/icons/plus.png");
  background-repeat: no-repeat;
  cursor: pointer; }

.icon-close {
  display: block;
  width: 18px;
  height: 18px;
  background-image: url("../img/icons/menu-open.png");
  background-repeat: no-repeat;
  cursor: pointer; }

.icon-close-mini {
  display: block;
  width: 10px;
  height: 10px;
  background-image: url("../img/icons/map-popup-close.png");
  background-repeat: no-repeat;
  cursor: pointer; }

.title-h1 {
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 48px;
  margin: 0;
  margin-bottom: 20px; }

.subtitle-h1 {
  font-size: 24px; }

.title-h2 {
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 36px;
  margin: 0;
  margin-bottom: 70px; }

.subtitle-h2 {
  font-size: 20px; }

.title-h3 {
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 20px;
  margin-bottom: 0; }

.hover-link {
  color: #338080 !important; }

.invalid {
  color: #E3211E; }

.btn-pilgrim {
  font-family: 'Open Sans', sans-serif;
  display: block;
  font-size: 16px;
  color: #fff;
  background: #1AA7BD;
  text-transform: uppercase;
  border: none;
  border-radius: 5px;
  padding: 12px 35px;
  cursor: pointer;
  transition: 0.3s; }
  .btn-pilgrim:hover {
    background: #0781A3; }

.counter {
  position: absolute;
  background: #FF4D4D;
  width: 12px;
  height: 12px;
  right: -3px;
  top: 3px;
  border-radius: 100%;
  color: #fff;
  font-weight: 600;
  font-size: 9px;
  text-align: center; }

.pop-up {
  background: rgba(255, 255, 255, 0.9);
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.16);
  border-radius: 20px;
  padding: 30px;
  max-width: 310px; }
  .pop-up .title {
    display: block;
    font-weight: 600;
    font-size: 24px;
    color: #525252;
    text-align: center;
    margin-bottom: 30px; }
  .pop-up .subtitle {
    font-size: 16px;
    text-align: center;
    display: inline-block; }
  .pop-up .link {
    font-size: 16px;
    color: #338080;
    text-decoration: none;
    text-align: center;
    display: block;
    margin-top: 30px; }
  .pop-up .error {
    color: #E3211E;
    text-align: center;
    line-height: 24px;
    margin-bottom: 30px; }
    .pop-up .error .link {
      margin-top: 0;
      display: inline-block; }
  .pop-up .input-password {
    position: relative; }
  .pop-up .restore {
    display: flex;
    align-items: center;
    margin-bottom: 30px; }
    .pop-up .restore .btn-back {
      display: inline-flex; }
    .pop-up .restore .title {
      margin-bottom: 0;
      margin-left: 15px; }
  .pop-up form label {
    display: block;
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    margin-bottom: 10px; }
  .pop-up form input {
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;
    color: #292929;
    background: #FFFFFF;
    border: 1px solid #C4C4C4;
    box-sizing: border-box;
    border-radius: 5px;
    width: 100%;
    padding: 12px 15px;
    margin-bottom: 20px; }
    .pop-up form input:focus-visible {
      outline: none; }
    .pop-up form input::placeholder {
      font-size: 16px;
      color: #292929; }
  .pop-up form button {
    width: 100%;
    display: inline-block; }
  .pop-up form .row {
    display: flex; }
    .pop-up form .row > div:nth-child(2) {
      margin: 0 20px; }

.guest-counter {
  background: rgba(255, 255, 255, 0.9);
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.16);
  border-radius: 20px;
  padding: 20px;
  width: 128px; }
  .guest-counter-content {
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .guest-counter-content button {
      width: 32px !important;
      height: 32px;
      background: #FFFFFF;
      border: 1px solid #C4C4C4;
      box-sizing: border-box;
      box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.16);
      border-radius: 100%;
      padding: 0;
      display: flex !important;
      justify-content: center;
      align-items: center; }
    .guest-counter-content .number {
      width: 28px;
      padding: 4px 8px;
      border: none;
      border-bottom: 1px solid #292929;
      border-radius: 0;
      font-weight: 600;
      font-size: 20px;
      color: #292929;
      text-align: center; }

#login {
  display: none;
  position: absolute;
  right: 50px; }

#register {
  display: none;
  position: absolute;
  right: 250px; }

#guest-counter {
  display: none;
  position: absolute;
  right: 6%;
  bottom: 18%; }

#calendar {
  display: none;
  position: absolute; }
  #calendar.active {
    display: block !important; }

.relative {
  position: relative; }

.subscription {
  background: rgba(255, 255, 255, 0.9);
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.16);
  border-radius: 20px;
  padding: 30px;
  max-width: 570px;
  position: relative; }
  .subscription .btn-close {
    position: absolute;
    right: 4%;
    top: 4%; }
  .subscription .title {
    text-align: center;
    margin-top: 20px; }
    .subscription .title .title-h2 {
      margin-bottom: 15px; }
  .subscription-content {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    margin-bottom: 20px; }
    .subscription-content-card {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      max-width: 270px;
      min-height: 227px;
      width: 100%;
      text-align: center;
      padding: 30px 20px;
      background: #FFFFFF;
      border: 1px solid #C4C4C4;
      box-sizing: border-box;
      border-radius: 15px; }
      .subscription-content-card span {
        display: block;
        font-size: 14px; }
      .subscription-content-card .name {
        font-weight: 600;
        font-size: 18px;
        color: #1AA7BD;
        font-family: 'Inter', sans-serif; }
      .subscription-content-card .price {
        font-weight: 600;
        font-size: 30px;
        color: #292929;
        font-family: 'Inter', sans-serif; }
      .subscription-content-card.sale {
        border: 1px solid #1AA7BD; }
      .subscription-content-card button {
        display: inline-block; }

.pagination {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center; }
  .pagination li {
    font-size: 16px;
    width: 32px; }
    .pagination li.active {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 32px;
      height: 32px;
      background: #1AA7BD;
      border-radius: 100%; }
      .pagination li.active a {
        color: #fff; }
        .pagination li.active a:hover {
          color: #fff; }
    .pagination li a {
      color: #292929;
      text-decoration: none;
      width: 100%;
      display: inline-block;
      text-align: center; }
      .pagination li a:hover {
        color: #1AA7BD; }

header {
  padding: 8px 0;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.16);
  position: relative; }

.header {
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .header-nav ul {
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
    list-style-type: none; }
    .header-nav ul li {
      margin-left: 60px; }
      .header-nav ul li span {
        cursor: pointer; }
      .header-nav ul li a {
        font-size: 16px;
        color: #1AA7BD;
        border-bottom: 1px dashed #338080;
        text-decoration: none;
        transition: 0.3s; }
        .header-nav ul li a:hover {
          color: #1F6066; }
  .header-nav-mobile-content {
    display: none;
    vertical-align: middle;
    float: right;
    position: relative;
    width: 30%;
    text-align: right;
    margin: 16px 0; }

.nav-mobile {
  position: absolute;
  right: 0;
  z-index: -99; }
  .nav-mobile:before, .nav-mobile:after {
    content: "";
    position: absolute;
    z-index: -1;
    transition: transform cubic-bezier(0.77, 0, 0.175, 1) 0.8s;
    transform: translateX(0%) translateY(-100%); }
  .nav-mobile:after {
    transition-delay: 0s;
    opacity: 0.8; }
  .nav-mobile:before {
    transition-delay: .1s; }
  .nav-mobile-list {
    padding: 0;
    text-align: left;
    margin-top: 22px;
    margin-bottom: 0; }
    .nav-mobile-list-item {
      position: relative;
      display: block;
      transition-delay: 0.8s;
      opacity: 0;
      transform: translate(0%, 100%);
      transition: opacity .2s ease, transform .3s ease;
      padding: 16px;
      font-size: 16px;
      border-top: 1px solid #C4C4C4; }
      .nav-mobile-list-item:before {
        content: "";
        position: absolute;
        background: transparent;
        width: 20px;
        height: 1px;
        top: 100%;
        transform: translate(0%, 0%);
        transition: all .3s ease;
        z-index: -1; }
      .nav-mobile-list-item:hover:before {
        width: 100%; }
    .nav-mobile-list-link {
      text-decoration: none;
      color: #1F6066; }

body.nav-active .menu-icon {
  background-image: url("../img/icons/menu-open.png");
  width: 18px;
  height: 18px; }
body.nav-active .header-nav-mobile-content {
  background-color: #fff;
  width: 60%; }
body.nav-active .nav-mobile {
  visibility: visible;
  position: relative;
  z-index: 1; }
  body.nav-active .nav-mobile:before, body.nav-active .nav-mobile:after {
    transform: translateX(0%) translateY(0%); }
  body.nav-active .nav-mobile:after {
    transition-delay: s; }
  body.nav-active .nav-mobile:before {
    transition-delay: 0s; }
  body.nav-active .nav-mobile-list-item {
    opacity: 1;
    transform: translateX(0%);
    transition: opacity .3s ease, transform .3s ease, color .3s ease; }
    body.nav-active .nav-mobile-list-item:nth-child(0) {
      transition-delay: 0.1s; }
    body.nav-active .nav-mobile-list-item:nth-child(1) {
      transition-delay: 0.2s; }
    body.nav-active .nav-mobile-list-item:nth-child(2) {
      transition-delay: 0.3s; }
    body.nav-active .nav-mobile-list-item:nth-child(3) {
      transition-delay: 0.4s; }
    body.nav-active .nav-mobile-list-item:nth-child(4) {
      transition-delay: 0.5s; }
  body.nav-active .nav-mobile-bottom {
    opacity: 1; }

.main {
  margin: 0;
  background-image: url("../img/bg-header.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: inline-block;
  width: 100%;
  height: 650px; }
  .main-title {
    max-width: 570px;
    width: 100%;
    margin-top: 70px;
    margin-bottom: 50px; }
  .main-form {
    display: block;
    max-width: 410px;
    box-shadow: none;
    position: relative; }

.popular {
  display: flex;
  justify-content: space-between; }
  .popular-card {
    cursor: pointer;
    max-width: 370px;
    padding: 0 15px; }
    .popular-card > div {
      margin-top: 10px; }
    .popular-card .name {
      text-decoration: none;
      display: block;
      font-weight: 500;
      font-size: 16px;
      font-family: 'Inter', sans-serif;
      color: #292929; }
    .popular-card span {
      font-size: 14px; }

.advantages {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; }
  .advantages-card {
    max-width: 270px;
    margin-bottom: 40px; }
    .advantages-card .icon {
      width: 50px;
      height: 50px; }

.step-work {
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .step-work .title-h2 {
    max-width: 270px;
    margin: 0; }
  .step-work-container {
    display: flex;
    justify-content: space-between; }
    .step-work-container .card {
      position: relative;
      max-width: 270px;
      padding: 0 15px; }
      .step-work-container .card .number {
        position: absolute;
        top: -15px;
        left: 0;
        font-weight: 900;
        font-size: 64px;
        font-family: 'Inter', sans-serif;
        color: transparent;
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: rgba(52, 205, 214, 0.5); }

.contacts .title-h2 {
  margin-bottom: 10px; }
.contacts-content {
  margin-top: 70px;
  display: flex; }
  .contacts-content .contact {
    border: 1px dashed #1AA7BD;
    box-sizing: border-box;
    max-width: 320px;
    width: 100%;
    height: 158px;
    position: relative; }
    .contacts-content .contact > div {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 75%; }
    .contacts-content .contact a {
      display: flex;
      font-size: 18px;
      color: #292929;
      text-decoration: none;
      margin-bottom: 10px; }
  .contacts-content .form {
    margin-left: 80px;
    max-width: 570px;
    width: 100%; }
    .contacts-content .form .contacts > div {
      display: flex;
      position: relative; }
      .contacts-content .form .contacts > div > div {
        position: relative;
        width: 100%; }
        .contacts-content .form .contacts > div > div:last-child {
          margin-left: 30px; }

.form-group {
  position: relative; }

.form-field {
  font-family: 'Open Sans', sans-serif;
  border: none;
  border-bottom: 1px solid #292929;
  margin-bottom: 30px;
  width: 100%;
  outline: 0;
  padding: 5px 0; }
  .form-field::placeholder {
    color: transparent;
    font-size: 16px; }
  .form-field:placeholder-shown ~ .form-label {
    font-size: 16px;
    color: #292929;
    cursor: text;
    top: 0; }

.form-label {
  position: absolute;
  top: -20px;
  display: block;
  transition: 0.2s;
  color: #7A7A7A;
  font-size: 14px; }

.form-field:focus ~ .form-label {
  position: absolute;
  top: -20px;
  display: block;
  transition: 0.2s;
  color: #7A7A7A;
  font-size: 14px; }

footer {
  background-color: #F5F5F5; }
  footer .footer {
    padding: 40px 0;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    footer .footer .socials a {
      text-decoration: none;
      display: inline-block;
      margin: 0 5px; }

.search {
  margin: 0;
  display: flex;
  justify-content: flex-end; }
  .search .asidebar {
    padding: 0 30px;
    max-width: 390px;
    margin-top: 40px;
    margin-bottom: 100px; }
    .search .asidebar-title {
      font-weight: 600;
      font-size: 20px;
      line-height: 32px;
      font-family: 'Inter', sans-serif; }
      .search .asidebar-title a {
        text-decoration: none;
        color: #338080;
        border-bottom: 2px dashed #338080; }
    .search .asidebar-search {
      margin: 40px 0; }
      .search .asidebar-search .housing-cards {
        margin-bottom: 30px; }
        .search .asidebar-search .housing-cards.active a img {
          border: 3px solid #1AA7BD;
          box-sizing: border-box; }
        .search .asidebar-search .housing-cards-desc {
          margin-top: 15px; }
          .search .asidebar-search .housing-cards-desc .name {
            font-weight: 500;
            font-size: 18px;
            font-family: 'Inter', sans-serif;
            text-decoration: none;
            color: #292929;
            transition: 0.3s; }
            .search .asidebar-search .housing-cards-desc .name:hover {
              color: #338080; }
          .search .asidebar-search .housing-cards-desc .name-content {
            display: flex;
            justify-content: space-between;
            align-items: center; }
        .search .asidebar-search .housing-cards .reviews {
          display: flex;
          margin-top: 5px; }
          .search .asidebar-search .housing-cards .reviews-link {
            font-size: 14px;
            text-decoration: none;
            margin-left: 10px;
            color: #292929; }
            .search .asidebar-search .housing-cards .reviews-link:hover {
              color: #1F6066; }
          .search .asidebar-search .housing-cards .reviews .rate {
            display: flex;
            padding: 0;
            margin: 0;
            list-style: none; }
    .search .asidebar .banner-mob {
      margin-top: 30px;
      display: none; }
  .search-content {
    width: 62%;
    margin-left: 2%; }
    .search-content .map-container {
      height: 555px;
      margin-bottom: 30px; }
      .search-content .map-container #map {
        height: 100%; }
    .search-content .banner {
      width: 95%; }

.calendar-container {
  display: inline-flex;
  justify-content: space-around;
  flex-wrap: wrap;
  background: #fff;
  padding: 20px;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.16);
  border-radius: 20px; }
  .calendar-container.mobile {
    display: none; }

.calendar .month {
  text-align: center;
  font-size: 18px;
  margin-bottom: 20px;
  font-weight: 600; }
  .calendar .month > div {
    display: inline-block; }
  .calendar .month .year {
    font-weight: 600;
    margin-left: 10px;
    font-size: 18px; }
  .calendar .month .nav {
    display: inline-block;
    text-decoration: none;
    width: 40px;
    height: 40px;
    transition-duration: .2s;
    position: relative; }
    .calendar .month .nav.nav-left {
      float: left; }
    .calendar .month .nav.nav-right {
      float: right; }
.calendar .days {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-template-columns: repeat(7, 1fr);
  font-size: 14px;
  color: #7A7A7A;
  margin-bottom: 15px;
  max-width: 210px; }
  .calendar .days span {
    width: 50px;
    justify-self: center;
    align-self: center;
    text-align: center; }
.calendar .dates {
  display: grid;
  grid-template-columns: repeat(7, 1fr); }
  .calendar .dates button {
    cursor: pointer;
    position: relative;
    outline: 0;
    border: 0;
    background: transparent;
    font-size: 14px;
    justify-self: center;
    align-self: center;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    transition-duration: .2s;
    color: #292929;
    padding: 0; }
    .calendar .dates button time {
      line-height: 24px;
      display: inline-block; }
    .calendar .dates button.today {
      border: 1px solid #1AA7BD; }
    .calendar .dates button:first-child {
      grid-column: 3; }
    .calendar .dates button.active, .calendar .dates button:hover {
      background: #1AA7BD;
      color: #fff; }
    .calendar .dates button.day-between time:before {
      content: "";
      position: absolute;
      z-index: 1;
      background: rgba(52, 205, 214, 0.3);
      height: 24px;
      width: 100%;
      left: 0; }
    .calendar .dates button.day-from time:before {
      content: "";
      position: absolute;
      z-index: 1;
      background: rgba(52, 205, 214, 0.3);
      height: 24px;
      width: 40%;
      right: 0; }
    .calendar .dates button.day-to time:before {
      content: "";
      position: absolute;
      z-index: 1;
      background: rgba(52, 205, 214, 0.3);
      height: 24px;
      width: 30%;
      left: 0; }

.btn-arrows {
  display: flex;
  justify-content: center;
  width: 100%;
  position: absolute;
  top: 90px; }
  .btn-arrows span {
    display: inline-block;
    width: 11px;
    height: 18px;
    background-repeat: no-repeat;
    cursor: pointer; }
  .btn-arrows .btn-arrow-prev,
  .btn-arrows .btn-arrow-next {
    text-decoration: none;
    width: 45%; }
  .btn-arrows .btn-arrow-prev span {
    background-image: url("../img/icons/arrow-pre.png");
    float: left; }
  .btn-arrows .btn-arrow-next span {
    background-image: url("../img/icons/arrow-next.png");
    float: right; }

.map-popup {
  z-index: -99;
  width: 300px;
  visibility: hidden; }
  .map-popup .btn-close {
    position: absolute;
    right: 10px;
    top: 10px; }
  .map-popup .slider {
    height: 185px; }
  .map-popup .desc {
    height: 185px;
    overflow-y: scroll;
    scrollbar-width: thin;
    scrollbar-color: #1AA7BD #fff; }
    .map-popup .desc div {
      padding: 15px; }
    .map-popup .desc::-webkit-scrollbar {
      width: 4px; }
    .map-popup .desc::-webkit-scrollbar-track {
      background-color: #fff; }
    .map-popup .desc::-webkit-scrollbar-thumb {
      border: solid #1AA7BD;
      transform: rotate(90deg); }
    .map-popup .desc h3,
    .map-popup .desc p {
      font-size: 14px;
      margin: 0; }
    .map-popup .desc p {
      margin-top: 10px; }

/* The popup bubble styling. */
.popup-bubble {
  /* Position the bubble centred-above its parent. */
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-50%, -100%);
  /* Style the bubble. */
  background-color: white;
  font-family: sans-serif;
  overflow-y: none;
  height: 370px;
  width: 300px;
  box-shadow: 0px 3px 12px rgba(0, 0, 0, 0.16); }

/* The parent of the bubble. A zero-height div at the top of the tip. */
.popup-bubble-anchor {
  /* Position the div a fixed distance above the tip. */
  position: absolute;
  width: 100%;
  bottom: 8px;
  left: 0; }

/* This element draws the tip. */
.popup-bubble-anchor::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  /* Center the tip horizontally. */
  transform: translate(-50%, 0);
  /* The tip is a https://css-tricks.com/snippets/css/css-triangle/ */
  width: 0;
  height: 0;
  /* The tip is 8px high, and 12px wide. */
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 8px solid white; }

/* JavaScript will position this div at the bottom of the popup tip. */
.popup-container {
  cursor: auto;
  height: 0;
  position: absolute;
  /* The max width of the info window. */
  width: 200px; }

.hotel-hover {
  transition: 0.3s;
  filter: sepia(50%); }

@media (max-width: 1200px) {
  section {
    margin: 80px 0; }

  .title-h2 {
    margin-bottom: 40px !important; }

  .advantages-card {
    max-width: 350px; }

  .step-work {
    display: block; } }
@media (max-width: 992px) {
  .container {
    padding: 0 30px; }

  .header-nav ul li {
    margin-left: 30px; }

  .contacts-content .form {
    margin-left: 40px; }

  .search .asidebar {
    max-width: 310px; } }
@media (max-width: 768px) {
  .title-h1 {
    font-size: 36px; }

  .subtitle-h1 {
    font-size: 20px; }

  .title-h2 {
    font-size: 32px; }

  .title-h3 {
    font-size: 20px; }

  .main-title {
    margin-top: 50px;
    margin-bottom: 35px; } }
@media (max-width: 760px) {
  .header-nav {
    display: none; }
  .header-nav-mobile-content {
    display: inline-block; }

  body.nav-active .header-nav-mobile-content {
    width: 70%;
    position: absolute;
    right: 0;
    top: 8px;
    z-index: 1; }
  body.nav-active .menu-icon {
    margin-right: 15px; }

  .contacts-content {
    flex-wrap: wrap;
    margin-top: 40px; }
    .contacts-content .contact {
      margin-bottom: 40px;
      max-width: 350px; }
    .contacts-content .form {
      margin-left: 0; }
      .contacts-content .form .contacts > div {
        display: block; }
        .contacts-content .form .contacts > div input:last-child {
          margin-left: 0; }

  .subscription-content {
    flex-direction: column-reverse;
    margin: 0; }
    .subscription-content-card {
      max-width: 100%;
      margin-top: 30px; }

  section.search {
    flex-direction: column-reverse; }
    section.search .asidebar {
      max-width: 100%; }
    section.search .search-content {
      width: 100%;
      margin-left: 0; }
      section.search .search-content .banner {
        display: none; }
      section.search .search-content .map-container {
        height: 250px;
        margin-bottom: 0; }
        section.search .search-content .map-container .map-popup {
          max-width: 328px; }

  .asidebar .banner-mob {
    display: block !important; } }
@media (max-width: 576px) {
  #register, #login {
    right: 30px;
    top: 100px;
    z-index: 1; }

  .calendar-container {
    display: none; }
    .calendar-container.mobile {
      display: block; }

  .map-container {
    position: relative; }

  .pop-up {
    max-width: 285px;
    padding: 20px; }

  .pop-up.main-form {
    max-width: 410px; }

  .popup-bubble {
    top: 124%;
    z-index: 0;
    left: 50%; }

  p {
    font-size: 16px; }

  .container {
    padding: 0 15px; }

  .main-form.pop-up {
    background: rgba(26, 167, 189, 0.3); }

  .main {
    background-image: none; }

  footer .footer {
    display: block;
    text-align: center;
    padding: 35px 0; }

  .step-work .title-h2 {
    max-width: 100%; }
  .step-work-container {
    flex-wrap: wrap; }
    .step-work-container .card {
      max-width: 100%;
      margin-bottom: 40px; }

  .alert span {
    font-size: 13px; }

  .contacts-content .form .contacts > div div:last-child {
    margin-left: 0; }

  .calendar {
    margin-bottom: 20px; }

  .container-mob-none {
    padding: 0;
    padding-left: 15px; }

  .popular .slick-list {
    padding: 0 10% 0 0; }

  .popular-card {
    padding: 0 7px; } }

/*# sourceMappingURL=style.css.map */
