.wrap {
  max-width: 1396px;
  margin: 0 auto; }

body {
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  color: #333333;
  margin: 0 !important; }

.title-h1 {
  margin: 0;
  padding-top: 50px;
  font-size: 50px;
  font-weight: 400; }

.title-h2 {
  margin: 0;
  margin-bottom: 30px;
  font-size: 25px;
  font-weight: 400;
  color: #F73429; }

.subtitle-h2 {
  color: #7D7D7D;
  font-size: 13px;
  max-width: 450px; }

.title-h3 {
  font-size: 35px;
  text-align: center;
  font-weight: 400;
  margin-top: 0; }

.title-h4 {
  font-size: 50px;
  font-weight: 300;
  margin: 0; }

.mt-10 {
  margin-top: 10%; }

.w-100 {
  width: 100%; }

.w-40 {
  width: 40%; }

.w-20 {
  width: 20%; }

.w-25 {
  width: 25%; }

.h-100 {
  height: 100%; }

.pr-20 {
  padding-right: 20px; }

.d-flex {
  display: flex; }

.align-center {
  align-items: center; }

.justify-space-around {
  justify-content: space-around; }

.justify-space-between {
  justify-content: space-between; }

.justify-center {
  justify-content: center; }

section {
  margin-top: 80px; }

.hr {
  border-top: 1px solid #E0E0E0;
  margin-bottom: 50px; }

.font-16 {
  font-size: 16px;
  font-weight: 700; }

.font-14 {
  font-size: 14px; }

.vertical-line {
  font-weight: bold;
  padding: 0 8px; }

.color-light {
  color: #A2A2A2; }

.color-grey {
  color: #969696; }

.color-red {
  color: #F73429; }

.bg-red {
  background-color: #F73429;
  height: 515px;
  max-width: 1396px;
  width: 100%;
  position: absolute;
  z-index: -1; }

.contact {
  margin-top: 3%; }
  .contact-top {
    text-align: center;
    color: #fff;
    max-width: 700px;
    margin: 0 auto;
    padding-bottom: 40px; }
  .contact-bottom {
    max-width: 1160px;
    max-height: 515px;
    margin: 0 auto;
    background-color: #fff;
    padding: 30px;
    -webkit-box-shadow: 7px 5px 20px -1px rgba(0, 0, 0, 0.27);
    box-shadow: 7px 5px 20px -1px rgba(0, 0, 0, 0.27); }

.contacts {
  display: flex;
  justify-content: center; }
  .contacts-list {
    font-weight: 700; }
  .contacts-link {
    color: #fff;
    text-decoration: none; }
  .contacts-icon {
    margin-right: 24px;
    margin-left: 50px; }

.icon-phone {
  background-color: #fff;
  width: 21px;
  height: 21px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 9px; }
  .icon-phone-link {
    color: #7F0057; }
    .icon-phone-link:hover {
      color: #F73429;
      transition: 0.3s; }

.content-header {
  display: grid;
  height: 100%;
  grid-column-gap: 30px; }
  .content-header-img {
    grid-column: 1/2;
    grid-row: 1/3; }
    .content-header-img img {
      width: 100%; }
  .content-header-questions {
    grid-column: 2/3;
    grid-row: 1/2; }
  .content-header-map {
    grid-column: 2/3;
    grid-row: 2/3; }

form.search {
  background-color: #F6F7FC;
  border-radius: 25px;
  padding: 7px;
  display: flex;
  justify-content: space-between; }
  form.search input {
    border: none;
    background: transparent;
    width: 70%;
    color: #BEBEBE;
    font-size: 13px; }
  form.search select {
    border: none;
    background: transparent;
    font-weight: bold;
    font-size: 13px;
    padding: 5px; }
  form.search button {
    border: none;
    color: #fff;
    background-color: #F73429;
    border-radius: 50%;
    width: 33px;
    height: 33px;
    font-size: 15px;
    cursor: pointer; }

.news-content {
  display: flex;
  justify-content: space-between; }

.card-news {
  background-color: #F6F7FC;
  width: 95% !important; }
  .card-news-img {
    width: 100%; }
  .card-news-desc {
    padding: 0 40px;
    height: 230px; }

.desc-date {
  font-size: 13px;
  font-weight: bold; }

.description {
  font-size: 16px;
  padding-top: 10px; }

.news-link {
  font-size: 14px;
  font-weight: bold;
  color: #333333;
  text-decoration: none;
  border-bottom: 2px solid #333333; }

.news-icon {
  color: #F73429;
  font-size: 32px;
  margin-right: 10px; }

.product-container {
  display: flex; }

.product-card {
  width: 97% !important; }
  .product-card img {
    width: 100%; }

section.follow-us {
  padding-bottom: 80px; }

.social-icons {
  list-style-type: none;
  display: flex;
  justify-content: center;
  padding: 0; }
  .social-icons-link {
    color: #333333;
    font-size: 20px;
    width: 70px;
    height: 70px;
    border: 2px solid #333333;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 35px;
    margin: 0 40px; }
    .social-icons-link:hover {
      border: 2px solid #F73429;
      color: #F73429;
      transition: 0.3s; }

.social-hashtag {
  display: block;
  text-align: center;
  font-size: 20px;
  text-transform: uppercase;
  padding-top: 10px; }
  .social-hashtag a {
    color: #333333;
    text-decoration: none;
    font-weight: bold; }
    .social-hashtag a:hover {
      text-decoration: underline; }

.discount {
  border-bottom: 12px solid #DB3232;
  padding-top: 0; }
  .discount-text {
    width: 50%;
    background-color: #F73429;
    color: #fff;
    padding-top: 20px;
    padding-bottom: 50px;
    padding-right: 30px;
    padding-left: 30px; }
  .discount-img {
    width: 50%;
    background-image: url("../images/image-05.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; }
  .discount-btn {
    font-size: 14px;
    font-weight: bold;
    color: #333333;
    background-color: #fff;
    text-decoration: none;
    padding: 15px 60px;
    display: inline-block;
    margin-top: 35px; }
    .discount-btn:hover {
      color: #F73429;
      transition: 0.3s; }
  .discount-caption {
    font-style: italic;
    font-size: 35px;
    font-weight: bold; }
    .discount-caption span {
      font-weight: 100; }

.column-left {
  max-width: 700px;
  margin-left: auto; }

.pruduct-col-left,
.pruduct-col-right {
  width: 50%; }

.pruduct-col-left .desc-date {
  text-transform: uppercase;
  margin-bottom: 25px; }
.pruduct-col-left .title-h3 {
  text-align: left;
  font-weight: 300;
  margin-top: 20px; }

.pruduct-col-right p {
  line-height: 2em; }

section.product-desc {
  margin-left: 20px;
  margin-right: 20px; }

.form-email {
  background-color: #F73429;
  text-align: center; }
  .form-email-content {
    padding: 60px 0;
    max-width: 45%;
    margin: 0 auto; }
  .form-email input {
    background: transparent;
    font-size: 42px;
    border: none;
    max-width: 80%; }
    .form-email input::placeholder {
      color: #710000; }
  .form-email label {
    border-bottom: 2px solid #fff;
    color: #fff;
    font-size: 30px;
    margin-bottom: 5px;
    margin-left: 5px; }
  .form-email span.social-hashtag {
    padding-top: 20px; }
    .form-email span.social-hashtag a {
      color: #fff; }

.email {
  text-align: left;
  width: 75%;
  margin: auto; }
  .email-border {
    border-bottom: 2px solid #fff;
    display: flex;
    justify-content: center; }
  .email-btn {
    font-size: 14px;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
    padding: 15px 60px;
    display: inline-block;
    margin-top: 35px;
    background: transparent;
    border: 2px solid #fff; }
    .email-btn:hover {
      color: #333333;
      border: 2px solid #333333;
      transition: 0.3s; }

.email-title {
  color: #fff;
  margin-bottom: 25px; }

.social-icon {
  list-style-type: none;
  display: flex;
  justify-content: center;
  padding: 0;
  margin-top: 40px; }
  .social-icon-link {
    color: #fff;
    font-weight: bold;
    font-size: 27px;
    text-decoration: none;
    margin: 0 10px; }
    .social-icon-link:hover {
      color: #333333;
      transition: 0.3s; }

.deliver-info {
  background-color: #F6F7FC;
  margin: 0;
  padding: 80px 20px 80px 20px; }
  .deliver-info .hr {
    color: #fff;
    margin-top: 50px; }

.card-info {
  text-align: center;
  width: 15%; }

.top-categorie {
  padding: 0 20px;
  margin-bottom: 80px; }
  .top-categorie p {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 0; }

.categorie {
  padding: 0;
  list-style-type: none; }
  .categorie-list {
    font-size: 16px;
    margin-top: 10px; }
  .categorie-icon {
    padding-right: 15px;
    font-size: 12px; }
  .categorie-link {
    color: #000000;
    text-decoration: none; }

footer {
  background-color: #22252A;
  padding: 60px 0;
  color: #fff; }

.footer-contact {
  width: 25%;
  height: 100%; }

.contacts-footer-link {
  color: #fff; }
.contacts-footer-icon {
  margin-right: 10px; }

.contact-time {
  font-size: 14px; }

.nav-footer {
  width: 25%;
  height: 100%; }
  .nav-footer p {
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase; }

.nav {
  padding: 0;
  list-style-type: none; }
  .nav-list {
    font-size: 16px;
    margin-top: 10px; }
  .nav span {
    margin-right: 15px;
    font-size: 12px;
    color: #969696; }
  .nav-link {
    color: #969696;
    text-decoration: none; }
    .nav-link:hover {
      color: #fff;
      transition: 0.3c; }
      .nav-link:hover span {
        color: #F73429; }

.subfooter {
  padding: 15px 0;
  background-color: #000000;
  font-size: 14px;
  color: #fff; }

.footer-info {
  padding: 20px 10px; }
  .footer-info p {
    color: #969696;
    width: 70%; }

.configure,
.decline {
  font-size: 14px;
  font-weight: bold;
  padding: 14px;
  display: inline-block;
  text-decoration: none; }

.decline {
  background-color: #F6F7FC;
  color: #333333; }
  .decline:hover {
    color: #F73429; }

.configure {
  background-color: #F73429;
  color: #fff; }
  .configure:hover {
    color: #333333; }

.btn-scroll {
  color: #fff;
  background-color: #F73429;
  width: 55px;
  height: 55px;
  position: fixed;
  font-size: 26px;
  z-index: 999;
  bottom: 110px;
  right: 50px;
  cursor: pointer;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center; }

@media (max-width: 375.98px) {
  .bg-red {
    max-width: 375px; }

  .wrap {
    max-width: 375px; }

  .contact-bottom {
    max-width: 355px;
    margin: 0px 10px; }

  .contact-top {
    max-width: 325px; }

  .content-header {
    grid-column-gap: 0; }
    .content-header-img {
      display: none; }

  .title-h2 {
    font-size: 22px; }

  .subtitle-h1 {
    text-align: center;
    width: 325px; }

  .subtitle-h2 {
    max-width: 100%; }

  .contacts {
    display: block;
    text-align: initial; }

  .search select {
    display: none; }

  .discount-img {
    display: none; }

  .discount-text {
    width: 100%; }
  .discount-caption {
    font-size: 24px; }

  .discount-btn {
    display: block;
    text-align: center; }

  .social-icons-link {
    margin: 0px 25px; }

  .pruduct-col-left .title-h4 {
    font-size: 24px; }
  .pruduct-col-left .title-h3 {
    font-size: 22px; }

  .pruduct-col-right p {
    font-size: 15px; }

  .form-email input {
    font-size: 24px; }

  .form-email-content {
    max-width: 100%; }

  .card-info {
    width: 54%;
    margin: 0 auto; }

  .mobile-d-block {
    display: block; }

  .top-categorie {
    display: none; }

  .footer {
    display: block !important; }

  .footer-contact {
    width: 100%;
    margin-bottom: 50px; }

  .nav-footer {
    width: 100%; }

  .toggle-icon {
    float: right; }

  .toggle-icon::before {
    width: 5px;
    height: 5px;
    content: "\2212"; }

  .toggle-icon.active::before {
    width: 5px;
    height: 5px;
    content: "\002B"; }

  .toggle {
    display: block;
    border-top: 2px solid #333333;
    padding: 15px 0; }

  .toggle-content {
    display: none; }

  .toggle-content.active {
    display: block; }

  .mobile-d-block {
    display: block; }

  .mobile-d-none {
    display: none; }

  .mobile-text-center {
    text-align: center; }

  .btn-scroll {
    width: 39px;
    height: 39px;
    font-size: 18px; }

  .footer-info p {
    width: 100%;
    font-size: 13px; }

  .info-btn {
    display: flex;
    justify-content: space-around; }

  .pruduct-col-left,
  .pruduct-col-right {
    width: 100%; }

  .product-desc .d-flex {
    flex-direction: column; } 
    .payment {
      width: 100%; }
  
    .shipment {
      width: 100%; }
  
    .shops {
      width: 100%; }
  
    .payment img, .shipment img, .shops img {
      height: 50px; }
    .card-news, .product-card {
      width: 100% !important;} }

@media (min-width: 375.99px) and (max-width: 768.98px) {
  .bg-red {
    max-width: 688px; }

  .wrap {
    max-width: 688px; }

  .footer {
    flex-wrap: wrap; }

  .footer-contact {
    width: 50%; }

  .nav-footer {
    width: 50%; }

  .contact-bottom {
    max-width: 611px; }

  .content-header {
    grid-column-gap: 0; }
    .content-header-img {
      display: none; }

  .contact-top {
    max-width: 575px; }

  .title-h1 {
    font-size: 32px; }

  .subtitle-h1 {
    font-size: 16px; }

  .card-news-desc {
    height: 250px; }

  section.product-desc .d-flex {
    display: block; }

  .pruduct-col-left,
  .pruduct-col-right {
    width: 100%; }

  .form-email-content {
    max-width: 100%; }

  .form-email input {
    max-width: 80%; }

  .email-title {
    font-size: 16px; }

  .flex-wrap {
    flex-wrap: wrap; }

  .payment {
    width: 50%; }

  .shipment {
    width: 50%; }

  .shops {
    width: 100%; }

  .payment img, .shipment img, .shops img {
    height: 61px;
    margin-right: 5px; }

  .flex-wrap {
    flex-wrap: wrap; } }
@media (min-width: 769.99px) and (max-width: 1024.98px) {
  .bg-red {
    max-width: 940px; }

  .wrap {
    max-width: 940px; }

  .footer {
    flex-wrap: wrap; }
    .footer-contact {
      width: 100%; }
      .footer-contact > .pr-20 {
        padding-right: 0;
        display: flex;
        flex-wrap: wrap; }
      .footer-contact-logo {
        width: 100%; }
      .footer-contact-item {
        width: 33%; }
        .footer-contact-item p {
          padding-right: 30px; }
    .footer .nav-footer {
      width: 33%;
      padding-right: 0; }

  .contact-bottom {
    max-width: 780px; }

  .title-h1 {
    font-size: 40px; }

  .subtitle-h2 {
    max-width: 375px; }

  .content-header {
    grid-row-gap: 30px; }
    .content-header-img {
      grid-column: 1/2;
      grid-row: 1/2; }
    .content-header-questions {
      grid-column: 2/3;
      grid-row: 1/2; }
    .content-header-map {
      grid-column: 1/3;
      grid-row: 2/3; }

  .card-news-desc {
    height: 260px; }

  .form-email-content {
    max-width: 100%; }
  .form-email input {
    font-size: 34px; }

  .email {
    width: 40%; }

  .payment {
    width: 50%; }

  .shipment {
    width: 50%; }

  .shops {
    width: 100%; }

  .payment img, .shipment img, .shops img {
    height: 76px;
    margin-right: 5px; }

  .flex-wrap {
    flex-wrap: wrap; } }
@media (min-width: 1025.99px) and (max-width: 1440.98px) {
  .bg-red {
    max-width: 1276px; }

  .wrap {
    max-width: 1276px; }

  .contact-bottom {
    max-width: 1060px; } }
footer {
  padding: 80px 20px; }

.footer {
  display: flex; }

/*# sourceMappingURL=style.css.map */
